# YouTube Social Blade Scraper

This notebook scrapes data from monthly statistic pages on Social Blade for YouTubers who posted apology videos prior to September 2019.

The data includes daily changes in subscriber counts and channel views, as well as total subscriber counts and channel views.

In [639]:
# Libraries for scraping Social Blade pages
import requests as req
from bs4 import BeautifulSoup as bs
import re
import pandas as pd
from datetime import datetime

# Libraries for filtering data by date
from datetime import date
from dateutil.relativedelta import relativedelta

## The following functions have been adapted from Anjali Shrivastava's [Medium post](https://medium.com/swlh/how-to-scrape-socialblade-for-youtube-subscription-data-ec7c4bde6933) and her [Jupyter Notebooks](https://github.com/vastava/data-science-projects/tree/master/content%20cop).

In [603]:
# Function that scrapes data from Social Blade
def sub_scraper(url, dataType):
    r = req.get(url)
    #print(r.status_code)
    soup = bs(r.text, 'lxml')
    script_divs = soup.find_all('script', {'type': 'text/javascript'})
    res = 0
    
    # Decides what data to gather based on dataType
    for i in range(len(script_divs)):
        if "CSV" in str(script_divs[i]):
            if dataType == 'count':           # daily change in subscribers
                res = script_divs[i]
            elif dataType == 'total':         # total amount of subscriber
                res = script_divs[i + 1]
            elif dataType == 'views':         # daily change in channel views
                res = script_divs[i + 2]
            elif dataType == 'views_tot':     # total amount of channel views
                res = script_divs[i + 3]
            break
    
    # Splits data gathered from url into a list
    lst = str(res).split('+')
    lst = [test.strip() for test in lst]
    lst = [test.replace('\\n"', '').replace('"', '') for test in lst]
    return lst

In [604]:
# Function that transforms Social Blade data into a dataframe
def to_df(url, name, dataType):

    # Gathers social blade data into a list
    lst = sub_scraper(url, dataType)
    
    if lst != 0: 
        lst = lst[1:len(lst) - 1]
        # Creates empty dataframe and populates columns with the list data
        df = pd.DataFrame() 
        df['Date'] = [x.split(',')[0] for x in lst] 
        df['Subs'] = [x.split(',')[1] for x in lst]
        df['Name'] = name
        return df

In [638]:
# Function that checks the validity of a date
# Takes in a string in the format of year-month-day (eg. ‘2016–05–19’) 
def checkmonth(check, year, month, day):
    target = date(year, month, day)
    check = date.fromisoformat(check)
    bounds = [target + relativedelta(months=-1), target + relativedelta(months=+1)]
    if check >= bounds[0] and check <= bounds[1]:
        return True
    else: 
        return False
    
# Function that filters the dataframe by date. 
# Returns a dataframe with one month prior to the given date and six months after
def filterdate(apology_date, df):
    month = apology_date.month
    day   = apology_date.day
    year = apology_date.year
    return df[df['Date'].apply(checkmonth, args=(year, month, day))]

# Importing apology metadata

In [636]:
# Imports CSV files with all the apology metadata
apology_info_df = pd.read_csv('80_YT_wayback.csv')

# Transforms dates into numerical dates
apology_info_df['Date Posted'] = pd.to_datetime(apology_info_df['Date Posted']).dt.date

#Creates a dataframe that only contains apologies with Wayback Machine URLs
web_archive_df = apology_info_df.dropna(subset=['Wayback Machine URL'])
web_archive_df = apology_info_df[apology_info_df["Wayback Machine URL"].str.contains("web.archive") == True]

# Resets the index of the remaining rows starting from 0
web_archive_df = web_archive_df.reset_index(drop=True)

In [606]:
web_archive_df

,ID #,ID Name,ID,YouTuber,Channel,Title,Date Posted,Duration,Video source,Video likes percentage,...,1 day,1 wk,1 mos,6 mos,current,1 day.1,1 wk.1,1 mos.1,6 mos.1,current.1
0,2,SamNia,002_SamNia,"Samuel, NiaChel Rader",Sam and Nia,FORGIVEN,2015-08-21,0:02:38,https://www.youtube.com/watch?v=ilFuzKURvhk,21.08%,...,"360,609","364,489","371,862","411,785","2,540,000",NaN,NaN,NaN,NaN,NaN
1,3,Keem,003_Keem,Daniel Keem (Keemstar),DramaAlert,We got it wrong. - I'm sorry & will do better.,2016-01-09,0:05:57,https://www.youtube.com/watch?v=2JMZWMJVNe8,23.72%,...,NaN,NaN,NaN,NaN,"5,530,000",NaN,NaN,NaN,NaN,NaN
2,4,Fine,004_Fine,Benny and Rafi Fine,The Fine Bros,Update.,2016-01-31,0:03:06,https://www.youtube.com/watch?v=0t-vuI9vKfg,14.86%,...,"13,810,000","13,590,000","13,590,000","14,190,000","20,000,000",NaN,NaN,NaN,NaN,NaN
3,5,Pepper,005_Pepper,Sam Pepper,Sam Pepper,i'm sorry,2016-02-24,0:20:03,https://youtu.be/DPxb892BaV8,49.37%,...,"2,311,330",NaN,"2,329,942",NaN,"2,130,000",NaN,NaN,NaN,NaN,NaN
4,6,Leafy,006_Leafy,Calvin Vail,LeafyIsHere,Apology.,2016-03-21,0:03:05,https://www.youtube.com/watch?v=ShbBDjQ7zpA,76.37%,...,"1,630,000","1,680,000","2,270,000","4,820,000","4,910,000",NaN,NaN,NaN,NaN,NaN
5,7,Toby,007_Toby,Toby Turner (Tobuscus),TobyTurner,The Truth.,2016-04-11,0:01:01,https://www.youtube.com/watch?v=MiCJG8Q2Uds,78.71%,...,"6,390,000","6,390,000","6,390,000","6,370,000","6,200,000",NaN,NaN,NaN,NaN,NaN
6,8,Tmar,008_Tmar,Trevor Martin,TmarTn,I'm Sorry,2016-07-06,0:02:28,https://www.youtube.com/watch?v=gjyGQV2i9eU,36.42%,...,NaN,NaN,NaN,NaN,"3,280,000",NaN,NaN,NaN,NaN,NaN
7,9,Rice,009_Rice,Bryan Le,RiceLive,#ApologizeRiceGum I Am Sorry,2016-07-16,0:11:46,https://www.youtube.com/watch?v=UWvlmU7iKnU,90.90%,...,"3,000,000","3,170,000","3,710,000","5,150,000","10,000,000",NaN,NaN,NaN,NaN,NaN
8,10,Louis,010_Louis,Louis Cole,FunForLouis,MY RESPONSE...,2016-08-17,0:04:42,https://www.youtube.com/watch?v=8U1ZGMDlASA,85.74%,...,"1,860,000","1,870,000","1,870,000","1,890,000","1,980,000",NaN,NaN,NaN,NaN,NaN
9,11,JonTron,011_JonTron,Jon Jafari,JonTronShow,My Statement:,2017-03-19,0:04:27,https://www.youtube.com/watch?v=aIFf7qwlnSc,78.67%,...,"3,120,000","3,140,000","3,160,000","3,360,000","6,660,000",NaN,NaN,NaN,NaN,NaN
10,12,EthanH3,012_EthanH3,Ethan Klein,H3H3Productions,Why We Removed our WSJ Video,2017-04-03,0:02:26,https://www.youtube.com/watch?v=L71Uel98sJQ,97.05%,...,"3,716,442","3,744,409","3,826,720","4,822,023","6,030,000","5,894",NaN,"2,668,910",NaN,NaN
11,13,DadO,013_DadO,Michael Martin,DaddyoFive,DaddyOFive Founders Issue Public Apology,2017-04-22,0:02:51,https://www.youtube.com/watch?v=WoYTdYRPPpw,DISABLED,...,"765,850","764,050","755,940","728,170","714,207",NaN,NaN,NaN,NaN,NaN
12,14,Jake,014_Jake,Jake Paul,Jake Paul,"Dear YouTube, I'm sorry....",2017-06-03,0:17:44,https://www.youtube.com/watch?v=C45-1rf65PU,69.41%,...,NaN,"6,240,075",NaN,"12,136,112","20,300,000",NaN,NaN,NaN,NaN,NaN
13,15,Blaire,015_Blaire,Blaire White,Blaire White,I'M SORRY,2017-06-29,0:08:23,https://www.youtube.com/watch?v=bBnJ2z40_84,95.82%,...,NaN,"326,183",NaN,"365,320","1,100,000",NaN,NaN,NaN,NaN,NaN
14,16,Kenna,016_Kenna,McKenna Kaelin,Simply_Kenna,i'm sorry //,2017-07-30,0:03:26,https://www.youtube.com/watch?v=1gYK1KJsLak,Unknown,...,NaN,NaN,NaN,NaN,"841,000",NaN,NaN,NaN,NaN,NaN
15,17,Felix,017_Felix,Felix Kjellberg,PewDiePie,My Response,2017-09-12,0:01:35,https://www.youtube.com/watch?v=cLdxuaxaQwc,93.11%,...,"57,270,000","57,310,000","57,500,000","61,430,000","111,000,000",NaN,NaN,NaN,NaN,NaN
16,18,Repo,018_Repo,Richard Giese,Social Repose,RE: I'm an idiot,2017-11-05,0:10:51,https://www.youtube.com/watch?v=zY4PsDe-RMM,5.89%,...,NaN,NaN,NaN,"923,901","1,090,000",NaN,NaN,NaN,NaN,NaN
17,19,Zoe,019_Zoe,Zoe Sugg,Zoe Sugg,CHRISTMAS ADVERTS & HOW WE MET,2017-11-14,0:38:28,https://www.youtube.com/watch?v=A5TPOKoE1_M,90.49%,...,"12,083,165","12,078,828","12,090,093","12,099,656","10,700,000",NaN,NaN,NaN,NaN,NaN
18,20,Jenna,020_Jenna,Jenna Mourey,Jenna Marbles,What Happened To My Fishies Video,2017-11-17,0:47:12,https://www.youtube.com/watch?v=nFwMTG6T_PI,98.92%,...,"17,700,000","17,710,000","17,750,000","18,100,000","19,800,000",NaN,NaN,NaN,NaN,NaN
19,21,Shay,021_Shay,Shay Carl,Shay Carl,i'm sorry,2017-11-28,0:05:58,https://www.youtube.com/watch?v=gkznH1SpVec,Unknown,...,"1,640,000","1,640,000","1,650,000","1,660,000","1,600,000",NaN,NaN,NaN,NaN,NaN
20,22,Logan,022_Logan,Logan Paul,Logan Paul,So Sorry.,2018-01-02,0:01:44,https://www.youtube.com/watch?v=QwZT7T-TXT0,40.73%,...,"15,370,000","15,670,000","16,410,000","17,720,000","23,600,000",NaN,NaN,NaN,NaN,NaN
21,24,Alfie,024_Alfie,Alfie Deyes,Alfie Deyes Vlogs,Lets talk about the £1 video,2018-06-18,0:08:13,https://www.youtube.com/watch?v=GLLwNBG1ang,75.00%,...,"4,090,000","4,090,000","4,080,000","3,990,000","4,660,000",NaN,NaN,NaN,NaN,NaN
22,25,Tana,025_Tana,Tana Mongeau,Tana Mongeau,"Tanacon: The good, the bad, and the ugly",2018-07-30,1:04:57,https://www.youtube.com/watch?v=bOR8c2z3sSk,75.98%,...,"3,690,000","3,700,000","3,740,000","3,790,000","5,390,000",NaN,NaN,NaN,NaN,NaN
23,26,Olivia,026_Olivia,Olivia Jade Giannulli,Olivia Jade,im sorry,2018-08-16,0:03:15,https://www.youtube.com/watch?v=LAJArLC6v70,88.40%,...,"1,620,000","1,630,000","1,690,000","1,920,000","1,790,000",NaN,NaN,NaN,NaN,NaN
24,27,Grave,027_Grave,Rachel Meyer (Grav3yardgirl),banana peppers,let's talk,2018-08-16,0:30:15,https://www.youtube.com/watch?v=HBVPqHRNAVE,69.65%,...,"8,880,000","8,880,000","8,860,000","8,710,000","8,440,000",NaN,NaN,NaN,NaN,NaN
25,28,Laura,028_Laura,Laura Lee,Laura Lee,My Apology,2018-08-19,0:04:43,https://youtube.com/watch?v=PrWxrtBq15w,7.28%,...,"4,688,510","4,521,761","4,454,354","4,439,017","4,610,000",NaN,NaN,NaN,NaN,NaN
26,29,Gabe,029_Gabe,Gabriel Zamora,Gabriel Zamora,My Truth,2018-08-21,0:48:56,https://www.youtube.com/watch?v=QWnmPEHzRrk,97.08%,...,"594,712","779,532","805,477",NaN,"753,000",NaN,NaN,NaN,NaN,NaN
27,30,Manny,030_Manny,Manny Mua,Manny Mua,My reality check,2018-08-23,0:25:26,https://www.youtube.com/watch?v=s86Ja0LyNFI,DISABLED,...,"5,040,000","5,000,000","4,980,000","4,890,000","4,860,000",NaN,NaN,NaN,NaN,NaN
28,31,DeFranco,031_DeFranco,Philip DeFranco,Philip DeFranco,So Let's Talk About This BetterHelp Situation,2018-10-08,0:09:51,https://www.youtube.com/watch?v=gzRqPFtKiYU,76.21%,...,NaN,NaN,NaN,NaN,"6,330,000",NaN,NaN,NaN,NaN,NaN
29,32,Britt,032_Britt,Brittany Dawn Nelson,Brittany Dawn Fitness,My Public Statement About The Past 24 Hours,2019-02-06,0:07:33,https://youtu.be/A78PnebqzAM,4.44%,...,NaN,"288,261","282,241",NaN,"434,000",NaN,NaN,NaN,NaN,NaN
30,33,Yovana,033_Yovana,Yovana Mendoza Ayres,Rawvana,THIS IS WHAT IS HAPPENING,2019-03-15,0:33:05,https://www.youtube.com/watch?v=rHjaKB0A14A,16.75%,...,NaN,NaN,NaN,NaN,"2,380,000",NaN,NaN,NaN,NaN,NaN
31,34,LaBrant,034_LaBrant,"Cole, Savannah LaBrant",The LaBrant Fam,Addressing All the Hate We've Received,2019-04-03,0:15:03,https://www.youtube.com/watch?v=Mcf2RUFsS38,94.10%,...,NaN,NaN,NaN,NaN,"13,100,000",NaN,NaN,NaN,NaN,NaN
32,35,Sousa,035_Sousa,Brad Sousa,Brad Sousa,im sorry..,2019-05-01,0:05:40,https://www.youtube.com/watch?v=B_4QJ47OLao,24.59%,...,NaN,NaN,NaN,NaN,"92,800",NaN,NaN,NaN,NaN,NaN
33,36,KSI,036_KSI,"Olajide ""JJ"" Olatunji (KSI)",KSI,Ending it all,2019-06-03,1:19:54,https://www.youtube.com/watch?v=i4yzfxZDFbk,95.51%,...,NaN,NaN,NaN,NaN,"24,100,000",NaN,NaN,NaN,NaN,NaN
34,37,Jaclyn,037_Jaclyn,Jaclyn Hill,JaclynHill,My Lipsticks,2019-06-12,0:14:03,https://www.youtube.com/watch?v=x8QeSZpr0bs,47.19%,...,NaN,NaN,NaN,NaN,"5,600,000",NaN,NaN,NaN,NaN,NaN
35,38,Jared,038_Jared,Jared Knabenbauer,ProJared,YOU'VE BEEN LIED TO,2019-08-27,0:42:35,https://www.youtube.com/watch?v=BBywRBbDUjA,88.08%,...,NaN,NaN,NaN,NaN,"887,000",NaN,NaN,NaN,NaN,"3,603,838"
36,39,Brooke,039_Brooke,Brooke Houts,Brooke Houts,A Message For You,2019-09-19,0:04:32,https://www.youtube.com/watch?v=6qfHTGbqMNU,3.73%,...,NaN,NaN,NaN,NaN,"279,000",NaN,NaN,"157,998","354,769",NaN
37,40,Trisha,040_Trisha,Trisha Paytas,blndsundoll4mj,apology,2019-10-08,0:18:56,https://www.youtube.com/watch?v=T9tzBo8L1F8,29.35%,...,NaN,NaN,NaN,NaN,"5,000,000",NaN,NaN,NaN,NaN,NaN
38,41,Jarvis,041_Jarvis,Jarvis Khattri,Jarvis,I've been Banned from Fortnite (I'm Sorry),2019-11-03,0:06:48,https://www.youtube.com/watch?v=iN3ttHug-BU,76.93%,...,NaN,NaN,NaN,NaN,"5,180,000",NaN,NaN,NaN,NaN,NaN
39,43,Jay,043_Jay,Jason Matthew Ethier,imjaystation,Goodbye...,2020-02-21,0:12:52,https://www.youtube.com/watch?v=R39roT-9fhk,60.13%,...,NaN,NaN,NaN,NaN,"6,280,000",NaN,"809,824","1,199,282",July 2020,NaN
40,46,SomeO,046_SomeO,Mutahar Anas,SomeOrdinaryGamers,I Owe An Apology,2020-04-19,0:07:07,https://www.youtube.com/watch?v=nNzzAXXTIS4,84.07%,...,NaN,NaN,NaN,NaN,"3,430,000",NaN,NaN,NaN,NaN,NaN
41,50,Cry,050_Cry,Ryan Terry,Cryaotic,Cry Talks: We stopped being genuine a long tim...,2020-06-20,0:04:22,https://www.youtube.com/watch?v=H4E5B0-8q2E,35.62%,...,NaN,NaN,NaN,NaN,"2,380,000",NaN,NaN,NaN,NaN,NaN

# Scraping data from Social Blade

In [656]:
apology_dates = web_archive_df['Date Posted']

# Retrieves subscriber changes by day data from Social Blade 
# Filtered by a month before and a month after the apology post date
sub_month_change_dfs = []
count = 0
for i in range(len(web_archive_df)):
    sub_month_change_dfs.append(filterdate(apology_dates[count], to_df(web_archive_df['Wayback Machine URL'][count], web_archive_df['Channel'][count], 'count')))
    count += 1
    
# Retrieves total subscriber counts by day data from Social Blade 
# Filtered by a month before and a month after the apology post date
sub_month_total = []
count = 0
for i in range(len(web_archive_df)):
    sub_month_total.append(filterdate(apology_dates[count], to_df(web_archive_df['Wayback Machine URL'][count], web_archive_df['Channel'][count], 'total')))
    count += 1

[           Date  Subs         Name
 495  2015-07-21   270  Sam and Nia
 496  2015-07-22   237  Sam and Nia
 497  2015-07-23    74  Sam and Nia
 498  2015-07-24   793  Sam and Nia
 499  2015-07-25   386  Sam and Nia
 ..          ...   ...          ...
 553  2015-09-17   279  Sam and Nia
 554  2015-09-18   193  Sam and Nia
 555  2015-09-19  1328  Sam and Nia
 556  2015-09-20  1135  Sam and Nia
 557  2015-09-21   216  Sam and Nia

 [63 rows x 3 columns],
            Date  Subs        Name
 38   2015-12-09  2922  DramaAlert
 39   2015-12-10  2126  DramaAlert
 40   2015-12-11  4009  DramaAlert
 41   2015-12-12  4280  DramaAlert
 42   2015-12-13  3825  DramaAlert
 ..          ...   ...         ...
 96   2016-02-05  3867  DramaAlert
 97   2016-02-06  4611  DramaAlert
 98   2016-02-07  4642  DramaAlert
 99   2016-02-08  8342  DramaAlert
 100  2016-02-09  8091  DramaAlert

 [63 rows x 3 columns],
             Date   Subs           Name
 1559  2015-12-31   9283  The Fine Bros
 1560  2016-01-01  11557  The Fine Bros
 1561  2016-01-02   9290  The Fine Bros
 1562  2016-01-03  12023  The Fine Bros
 1563  2016-01-04   8959  The Fine Bros
 ...          ...    ...            ...
 1615  2016-02-25   1704  The Fine Bros
 1616  2016-02-26    -53  The Fine Bros
 1617  2016-02-27   -965  The Fine Bros
 1618  2016-02-28    765  The Fine Bros
 1619  2016-02-29   1037  The Fine Bros

 [61 rows x 3 columns],
            Date Subs        Name
 331  2016-01-24   79  Sam Pepper
 332  2016-01-25  169  Sam Pepper
 333  2016-01-26  248  Sam Pepper
 334  2016-01-27  811  Sam Pepper
 335  2016-01-28  315  Sam Pepper
 ..          ...  ...         ...
 387  2016-03-20   94  Sam Pepper
 388  2016-03-21  109  Sam Pepper
 389  2016-03-22   92  Sam Pepper
 390  2016-03-23  -38  Sam Pepper
 391  2016-03-24   94  Sam Pepper

 [61 rows x 3 columns],
            Date   Subs         Name
 243  2016-02-21  12684  LeafyIsHere
 244  2016-02-22  12075  LeafyIsHere
 245  2016-02-23   8982  LeafyIsHere
 246  2016-02-24  11017  LeafyIsHere
 247  2016-02-25   7694  LeafyIsHere
 ..          ...    ...          ...
 299  2016-04-17  17566  LeafyIsHere
 300  2016-04-18  17575  LeafyIsHere
 301  2016-04-19  14591  LeafyIsHere
 302  2016-04-20  11426  LeafyIsHere
 303  2016-04-21   9947  LeafyIsHere

 [61 rows x 3 columns],
           Date  Subs        Name
 13  2016-03-11    47  TobyTurner
 14  2016-03-12   112  TobyTurner
 15  2016-03-13   -65  TobyTurner
 16  2016-03-14   546  TobyTurner
 17  2016-03-15  -165  TobyTurner
 ..         ...   ...         ...
 70  2016-05-07  -214  TobyTurner
 71  2016-05-08     6  TobyTurner
 72  2016-05-09  -143  TobyTurner
 73  2016-05-10  -109  TobyTurner
 74  2016-05-11     8  TobyTurner

 [62 rows x 3 columns],
            Date  Subs    Name
 414  2016-06-06  1640  TmarTn
 415  2016-06-07  1988  TmarTn
 416  2016-06-08  1207  TmarTn
 417  2016-06-09  1354  TmarTn
 418  2016-06-10  1633  TmarTn
 ..          ...   ...     ...
 471  2016-08-02   -48  TmarTn
 472  2016-08-03   -21  TmarTn
 473  2016-08-04   352  TmarTn
 474  2016-08-05    72  TmarTn
 475  2016-08-06   166  TmarTn

 [62 rows x 3 columns],
            Date   Subs      Name
 424  2016-06-16  21889  RiceLive
 425  2016-06-17  17333  RiceLive
 426  2016-06-18  20932  RiceLive
 427  2016-06-19  18926  RiceLive
 428  2016-06-20  18614  RiceLive
 ..          ...    ...       ...
 481  2016-08-12  23001  RiceLive
 482  2016-08-13  27424  RiceLive
 483  2016-08-14  21807  RiceLive
 484  2016-08-15  23197  RiceLive
 485  2016-08-16  29395  RiceLive

 [62 rows x 3 columns],
            Date  Subs         Name
 50   2016-07-17  1061  FunForLouis
 51   2016-07-18  1065  FunForLouis
 52   2016-07-19   542  FunForLouis
 53   2016-07-20   334  FunForLouis
 54   2016-07-21   297  FunForLouis
 ..          ...   ...          ...
 108  2016-09-13  -370  FunForLouis
 109  2016-09-14  -137  FunForLouis
 110  2016-09-15   -69  FunForLouis
 111  2016-09-16  -202  FunForLouis
 112  2016-09-17   -75  FunForLouis

 [63 rows x 3 columns],
            Date   Subs         Name
 748  2017-02-19   2190  JonTronShow
 749  2017-02-20   1828  JonTronShow
 750  2017-02-21   1792  JonTronShow
 751  2017-02-22   2061  JonTronShow
 752  2017-02-23   2246  JonTronShow
 753  2017-02-24   5138  JonTronShow
 754  2017-02-25   2877  JonTronShow
 755  2017-02-26   2287  JonTronShow
 756  2017-02-27   1971  JonTronShow
 757  2017-02-28   1703  JonTronShow
 758  2017-03-01   1713  JonTronShow
 759  2017-03-02   1304  JonTronShow
 760  2017-03-03   1469  JonTronShow
 761  2017-03-04   1624  JonTronShow
 762  2017-03-05   1317  JonTronShow
 763  2017-03-06   1225  JonTronShow
 764  2017-03-07    854  JonTronShow
 765  2017-03-08   1177  JonTronShow
 766  2017-03-09   1177  JonTronShow
 767  2017-03-10   1280  JonTronShow
 768  2017-03-11   1275  JonTronShow
 769  2017-03-12  -5019  JonTronShow
 770  2017-03-13  -4751  JonTronShow
 771  2017-03-14   -482  JonTronShow
 772  2017-03-15    532  JonTronShow
 773  2017-03-16    222  JonTronShow
 774  2017-03-17    193  JonTronShow
 775  2017-03-18   2658  JonTronShow
 776  2017-03-19   1881  JonTronShow
 777  2017-03-20   1018  JonTronShow
 778  2017-03-21   1043  JonTronShow
 779  2017-03-22    469  JonTronShow
 780  2017-03-23   5344  JonTronShow
 781  2017-03-24   4105  JonTronShow
 782  2017-03-25   1778  JonTronShow
 783  2017-03-26   1697  JonTronShow
 784  2017-03-27   1917  JonTronShow
 785  2017-03-28   1225  JonTronShow
 786  2017-03-29    907  JonTronShow
 787  2017-03-30    913  JonTronShow
 788  2017-03-31   1284  JonTronShow
 789  2017-04-01   1137  JonTronShow
 790  2017-04-02   1041  JonTronShow
 791  2017-04-03    897  JonTronShow
 792  2017-04-04   1007  JonTronShow
 793  2017-04-05    829  JonTronShow
 794  2017-04-06    901  JonTronShow
 795  2017-04-07   1046  JonTronShow
 796  2017-04-08   1033  JonTronShow
 797  2017-04-09    857  JonTronShow
 798  2017-04-10    914  JonTronShow
 799  2017-04-11    930  JonTronShow
 800  2017-04-12   1002  JonTronShow
 801  2017-04-13    985  JonTronShow
 802  2017-04-14   1055  JonTronShow
 803  2017-04-15   1001  JonTronShow
 804  2017-04-16    951  JonTronShow
 805  2017-04-17    936  JonTronShow
 806  2017-04-18    776  JonTronShow
 807  2017-04-19    880  JonTronShow,
            Date  Subs             Name
 779  2017-03-03  5485  H3H3Productions
 780  2017-03-04  6073  H3H3Productions
 781  2017-03-05  5055  H3H3Productions
 782  2017-03-06  4539  H3H3Productions
 783  2017-03-07  4255  H3H3Productions
 ..          ...   ...              ...
 836  2017-04-29  1714  H3H3Productions
 837  2017-04-30  2614  H3H3Productions
 838  2017-05-01  3454  H3H3Productions
 839  2017-05-02  3146  H3H3Productions
 840  2017-05-03  2987  H3H3Productions

 [62 rows x 3 columns],
            Date  Subs        Name
 266  2017-03-22  1325  DaddyoFive
 267  2017-03-23  1276  DaddyoFive
 268  2017-03-24  1984  DaddyoFive
 269  2017-03-25  1831  DaddyoFive
 270  2017-03-26  1135  DaddyoFive
 ..          ...   ...         ...
 323  2017-05-18  -679  DaddyoFive
 324  2017-05-19  -513  DaddyoFive
 325  2017-05-20  -669  DaddyoFive
 326  2017-05-21  -433  DaddyoFive
 327  2017-05-22  -426  DaddyoFive

 [62 rows x 3 columns],
            Date   Subs       Name
 575  2017-05-03  22420  Jake Paul
 576  2017-05-04  25688  Jake Paul
 577  2017-05-05  30924  Jake Paul
 578  2017-05-06  32861  Jake Paul
 579  2017-05-07  21842  Jake Paul
 ..          ...    ...        ...
 632  2017-06-29  63223  Jake Paul
 633  2017-06-30  55083  Jake Paul
 634  2017-07-01  48830  Jake Paul
 635  2017-07-02  41998  Jake Paul
 636  2017-07-03  45419  Jake Paul

 [62 rows x 3 columns],
            Date Subs          Name
 349  2017-05-29  405  Blaire White
 350  2017-05-30  356  Blaire White
 351  2017-05-31  431  Blaire White
 352  2017-06-01  285  Blaire White
 353  2017-06-02  245  Blaire White
 ..          ...  ...           ...
 406  2017-07-25  363  Blaire White
 407  2017-07-26  349  Blaire White
 408  2017-07-27  398  Blaire White
 409  2017-07-28  300  Blaire White
 410  2017-07-29  286  Blaire White

 [62 rows x 3 columns],
            Date  Subs          Name
 415  2017-06-30   359  Simply_Kenna
 416  2017-07-01   449  Simply_Kenna
 417  2017-07-02   556  Simply_Kenna
 418  2017-07-03   509  Simply_Kenna
 419  2017-07-04   292  Simply_Kenna
 ..          ...   ...           ...
 472  2017-08-26    28  Simply_Kenna
 473  2017-08-27    36  Simply_Kenna
 474  2017-08-28   258  Simply_Kenna
 475  2017-08-29  -278  Simply_Kenna
 476  2017-08-30   365  Simply_Kenna

 [62 rows x 3 columns],
            Date   Subs       Name
 589  2017-08-12  14609  PewDiePie
 590  2017-08-13  17372  PewDiePie
 591  2017-08-14  12593  PewDiePie
 592  2017-08-15  10949  PewDiePie
 593  2017-08-16  22869  PewDiePie
 ..          ...    ...        ...
 646  2017-10-08  12314  PewDiePie
 647  2017-10-09   9508  PewDiePie
 648  2017-10-10   8991  PewDiePie
 649  2017-10-11  10432  PewDiePie
 650  2017-10-12  11080  PewDiePie

 [62 rows x 3 columns],
            Date  Subs           Name
 400  2017-10-05   447  Social Repose
 401  2017-10-06   583  Social Repose
 402  2017-10-07   562  Social Repose
 403  2017-10-08   287  Social Repose
 404  2017-10-09   315  Social Repose
 ..          ...   ...            ...
 457  2017-12-01   136  Social Repose
 458  2017-12-02  -289  Social Repose
 459  2017-12-03  -399  Social Repose
 460  2017-12-04  -196  Social Repose
 461  2017-12-05  -118  Social Repose

 [62 rows x 3 columns],
            Date  Subs      Name
 607  2017-10-14   759  Zoe Sugg
 608  2017-10-15  1242  Zoe Sugg
 609  2017-10-16  1440  Zoe Sugg
 610  2017-10-17  1277  Zoe Sugg
 611  2017-10-18  1079  Zoe Sugg
 ..          ...   ...       ...
 664  2017-12-10   542  Zoe Sugg
 665  2017-12-11   998  Zoe Sugg
 666  2017-12-12  1184  Zoe Sugg
 667  2017-12-13   832  Zoe Sugg
 668  2017-12-14   610  Zoe Sugg

 [62 rows x 3 columns],
            Date  Subs           Name
 519  2017-10-17  2143  Jenna Marbles
 520  2017-10-18  5014  Jenna Marbles
 521  2017-10-19  5313  Jenna Marbles
 522  2017-10-20  3135  Jenna Marbles
 523  2017-10-21  2654  Jenna Marbles
 ..          ...   ...            ...
 576  2017-12-13  1441  Jenna Marbles
 577  2017-12-14  1039  Jenna Marbles
 578  2017-12-15  1535  Jenna Marbles
 579  2017-12-16  1293  Jenna Marbles
 580  2017-12-17  1509  Jenna Marbles

 [62 rows x 3 columns],
            Date Subs       Name
 481  2017-10-28    9  Shay Carl
 482  2017-10-29   13  Shay Carl
 483  2017-10-30    6  Shay Carl
 484  2017-10-31   30  Shay Carl
 485  2017-11-01    8  Shay Carl
 ..          ...  ...        ...
 538  2017-12-24  219  Shay Carl
 539  2017-12-25  317  Shay Carl
 540  2017-12-26  233  Shay Carl
 541  2017-12-27  238  Shay Carl
 542  2017-12-28  154  Shay Carl

 [62 rows x 3 columns],
            Date   Subs        Name
 445  2017-12-02  30377  Logan Paul
 446  2017-12-03  26320  Logan Paul
 447  2017-12-04  17542  Logan Paul
 448  2017-12-05  29670  Logan Paul
 449  2017-12-06  31689  Logan Paul
 ..          ...    ...         ...
 503  2018-01-29  12655  Logan Paul
 504  2018-01-30  11088  Logan Paul
 505  2018-01-31  13234  Logan Paul
 506  2018-02-01  12214  Logan Paul
 507  2018-02-02  16975  Logan Paul

 [63 rows x 3 columns],
            Date   Subs               Name
 722  2018-05-18    -61  Alfie Deyes Vlogs
 723  2018-05-19    -78  Alfie Deyes Vlogs
 724  2018-05-20     80  Alfie Deyes Vlogs
 725  2018-05-21    118  Alfie Deyes Vlogs
 726  2018-05-22    118  Alfie Deyes Vlogs
 ..          ...    ...                ...
 779  2018-07-14   -599  Alfie Deyes Vlogs
 780  2018-07-15   -798  Alfie Deyes Vlogs
 781  2018-07-16   -410  Alfie Deyes Vlogs
 782  2018-07-17   -780  Alfie Deyes Vlogs
 783  2018-07-18  -1394  Alfie Deyes Vlogs

 [62 rows x 3 columns],
            Date  Subs          Name
 765  2018-06-30  3949  Tana Mongeau
 766  2018-07-01  6636  Tana Mongeau
 767  2018-07-02  7037  Tana Mongeau
 768  2018-07-03  4590  Tana Mongeau
 769  2018-07-04  4213  Tana Mongeau
 ..          ...   ...           ...
 822  2018-08-26  1845  Tana Mongeau
 823  2018-08-27  1580  Tana Mongeau
 824  2018-08-28  1323  Tana Mongeau
 825  2018-08-29  1480  Tana Mongeau
 826  2018-08-30   940  Tana Mongeau

 [62 rows x 3 columns],
            Date  Subs         Name
 740  2018-07-16   682  Olivia Jade
 741  2018-07-17  1384  Olivia Jade
 742  2018-07-18  1369  Olivia Jade
 743  2018-07-19  1031  Olivia Jade
 744  2018-07-20   865  Olivia Jade
 ..          ...   ...          ...
 798  2018-09-12   980  Olivia Jade
 799  2018-09-13   815  Olivia Jade
 800  2018-09-14  1098  Olivia Jade
 801  2018-09-15  1456  Olivia Jade
 802  2018-09-16   979  Olivia Jade

 [63 rows x 3 columns],
            Date  Subs            Name
 781  2018-07-16   534  banana peppers
 782  2018-07-17  -644  banana peppers
 783  2018-07-18   616  banana peppers
 784  2018-07-19  1201  banana peppers
 785  2018-07-20   486  banana peppers
 ..          ...   ...             ...
 839  2018-09-12   306  banana peppers
 840  2018-09-13   586  banana peppers
 841  2018-09-14   -17  banana peppers
 842  2018-09-15  -131  banana peppers
 843  2018-09-16  -179  banana peppers

 [63 rows x 3 columns],
            Date  Subs       Name
 752  2018-07-19  3932  Laura Lee
 753  2018-07-20  3658  Laura Lee
 754  2018-07-21  3717  Laura Lee
 755  2018-07-22  4201  Laura Lee
 756  2018-07-23  4143  Laura Lee
 ..          ...   ...        ...
 810  2018-09-15  -261  Laura Lee
 811  2018-09-16  -121  Laura Lee
 812  2018-09-17  -260  Laura Lee
 813  2018-09-18  -750  Laura Lee
 814  2018-09-19  -212  Laura Lee

 [63 rows x 3 columns],
            Date Subs            Name
 775  2018-07-21  413  Gabriel Zamora
 776  2018-07-22  531  Gabriel Zamora
 777  2018-07-23  386  Gabriel Zamora
 778  2018-07-24  406  Gabriel Zamora
 779  2018-07-25  205  Gabriel Zamora
 ..          ...  ...             ...
 833  2018-09-17  169  Gabriel Zamora
 834  2018-09-18  205  Gabriel Zamora
 835  2018-09-19  275  Gabriel Zamora
 836  2018-09-20  705  Gabriel Zamora
 837  2018-09-21  762  Gabriel Zamora

 [63 rows x 3 columns],
            Date   Subs       Name
 786  2018-07-23   5963  Manny Mua
 787  2018-07-24   5678  Manny Mua
 788  2018-07-25   4108  Manny Mua
 789  2018-07-26   3753  Manny Mua
 790  2018-07-27   3828  Manny Mua
 ..          ...    ...        ...
 844  2018-09-19   -498  Manny Mua
 845  2018-09-20  -3459  Manny Mua
 846  2018-09-21     40  Manny Mua
 847  2018-09-22   -245  Manny Mua
 848  2018-09-23   -218  Manny Mua

 [63 rows x 3 columns],
            Date  Subs             Name
 831  2018-09-08   -42  Philip DeFranco
 832  2018-09-09   -86  Philip DeFranco
 833  2018-09-10    29  Philip DeFranco
 834  2018-09-11   -74  Philip DeFranco
 835  2018-09-12   -49  Philip DeFranco
 ..          ...   ...              ...
 888  2018-11-04  -187  Philip DeFranco
 889  2018-11-05    96  Philip DeFranco
 890  2018-11-06    -6  Philip DeFranco
 891  2018-11-07   -28  Philip DeFranco
 892  2018-11-08   -47  Philip DeFranco

 [62 rows x 3 columns],
            Date   Subs                   Name
 911  2019-01-06    509  Brittany Dawn Fitness
 912  2019-01-07    502  Brittany Dawn Fitness
 913  2019-01-08    635  Brittany Dawn Fitness
 914  2019-01-09    372  Brittany Dawn Fitness
 915  2019-01-10    195  Brittany Dawn Fitness
 916  2019-01-11    387  Brittany Dawn Fitness
 917  2019-01-12    324  Brittany Dawn Fitness
 918  2019-01-13    321  Brittany Dawn Fitness
 919  2019-01-14    286  Brittany Dawn Fitness
 920  2019-01-15    398  Brittany Dawn Fitness
 921  2019-01-16    359  Brittany Dawn Fitness
 922  2019-01-17    246  Brittany Dawn Fitness
 923  2019-01-18    292  Brittany Dawn Fitness
 924  2019-01-19    239  Brittany Dawn Fitness
 925  2019-01-20    300  Brittany Dawn Fitness
 926  2019-01-21    373  Brittany Dawn Fitness
 927  2019-01-22    291  Brittany Dawn Fitness
 928  2019-01-23    273  Brittany Dawn Fitness
 929  2019-01-24    318  Brittany Dawn Fitness
 930  2019-01-25    235  Brittany Dawn Fitness
 931  2019-01-26    272  Brittany Dawn Fitness
 932  2019-01-27    304  Brittany Dawn Fitness
 933  2019-01-28    280  Brittany Dawn Fitness
 934  2019-01-29    235  Brittany Dawn Fitness
 935  2019-01-30    389  Brittany Dawn Fitness
 936  2019-01-31    379  Brittany Dawn Fitness
 937  2019-02-01    327  Brittany Dawn Fitness
 938  2019-02-02    380  Brittany Dawn Fitness
 939  2019-02-03    415  Brittany Dawn Fitness
 940  2019-02-04    493  Brittany Dawn Fitness
 941  2019-02-05  -1813  Brittany Dawn Fitness
 942  2019-02-06  -8043  Brittany Dawn Fitness
 943  2019-02-07  -2955  Brittany Dawn Fitness
 944  2019-02-08  -1754  Brittany Dawn Fitness
 945  2019-02-09  -1169  Brittany Dawn Fitness
 946  2019-02-10   -878  Brittany Dawn Fitness
 947  2019-02-11   -923  Brittany Dawn Fitness
 948  2019-02-12   -965  Brittany Dawn Fitness
 949  2019-02-13   -723  Brittany Dawn Fitness
 950  2019-02-14   -519  Brittany Dawn Fitness
 951  2019-02-15   -520  Brittany Dawn Fitness
 952  2019-02-16   -437  Brittany Dawn Fitness
 953  2019-02-17   -265  Brittany Dawn Fitness
 954  2019-02-18   -176  Brittany Dawn Fitness
 955  2019-02-19   -121  Brittany Dawn Fitness
 956  2019-02-20    -96  Brittany Dawn Fitness
 957  2019-02-21   -143  Brittany Dawn Fitness
 958  2019-02-22    -98  Brittany Dawn Fitness
 959  2019-02-23   -840  Brittany Dawn Fitness
 960  2019-02-24  -1363  Brittany Dawn Fitness
 961  2019-02-25   -333  Brittany Dawn Fitness
 962  2019-02-26   -161  Brittany Dawn Fitness
 963  2019-02-27    -26  Brittany Dawn Fitness
 964  2019-02-28    -12  Brittany Dawn Fitness
 965  2019-03-01     -9  Brittany Dawn Fitness
 966  2019-03-02    -39  Brittany Dawn Fitness
 967  2019-03-03    -44  Brittany Dawn Fitness
 968  2019-03-04     26  Brittany Dawn Fitness
 969  2019-03-05     38  Brittany Dawn Fitness
 970  2019-03-06  -1068  Brittany Dawn Fitness,
            Date    Subs     Name
 898  2019-02-15    1161  Rawvana
 899  2019-02-16    1507  Rawvana
 900  2019-02-17    1562  Rawvana
 901  2019-02-18    1614  Rawvana
 902  2019-02-19    1735  Rawvana
 903  2019-02-20    1621  Rawvana
 904  2019-02-21    1007  Rawvana
 905  2019-02-22    1282  Rawvana
 906  2019-02-23    1586  Rawvana
 907  2019-02-24    1504  Rawvana
 908  2019-02-25    1309  Rawvana
 909  2019-02-26    1366  Rawvana
 910  2019-02-27    1415  Rawvana
 911  2019-02-28    1275  Rawvana
 912  2019-03-01    1300  Rawvana
 913  2019-03-02    1277  Rawvana
 914  2019-03-03    1389  Rawvana
 915  2019-03-04    1328  Rawvana
 916  2019-03-05     805  Rawvana
 917  2019-03-06    2211  Rawvana
 918  2019-03-07    1201  Rawvana
 919  2019-03-08    1299  Rawvana
 920  2019-03-09    1423  Rawvana
 921  2019-03-10    1568  Rawvana
 922  2019-03-11    1746  Rawvana
 923  2019-03-12    1506  Rawvana
 924  2019-03-13     774  Rawvana
 925  2019-03-14     438  Rawvana
 926  2019-03-15  -18529  Rawvana
 927  2019-03-16  -12216  Rawvana
 928  2019-03-17   -6416  Rawvana
 929  2019-03-18   -4277  Rawvana
 930  2019-03-19   -2672  Rawvana
 931  2019-03-20   -1468  Rawvana
 932  2019-03-21   -1089  Rawvana
 933  2019-03-22    -996  Rawvana
 934  2019-03-23    -791  Rawvana
 935  2019-03-24    -785  Rawvana
 936  2019-03-25    -377  Rawvana
 937  2019-03-26    -219  Rawvana
 938  2019-03-27     -90  Rawvana
 939  2019-03-28     -86  Rawvana
 940  2019-03-29     -14  Rawvana
 941  2019-03-30     358  Rawvana
 942  2019-03-31     324  Rawvana
 943  2019-04-01     225  Rawvana
 944  2019-04-02     408  Rawvana
 945  2019-04-03   -3786  Rawvana
 946  2019-04-04   -2039  Rawvana
 947  2019-04-05    -234  Rawvana
 948  2019-04-06    -683  Rawvana
 949  2019-04-07   -2242  Rawvana
 950  2019-04-08   -1703  Rawvana
 951  2019-04-09      11  Rawvana
 952  2019-04-10      47  Rawvana
 953  2019-04-11     106  Rawvana
 954  2019-04-12     133  Rawvana

In [647]:
# Exports subscriber data into CSV files
pd.concat(sub_month_change_dfs).to_csv('sub_month_change.csv', index=False)
pd.concat(sub_month_total).to_csv('sub_month_total.csv', index=False)

In [679]:
# Merges total subscriber data with subscriber change count data
for i in range(len(web_archive_df)-6):
    sub_month_change_dfs[i]['Total'] = sub_month_total[i].Subs

In [680]:
# Exports all subsciber data into a CSV file
pd.concat(sub_month_change_dfs).to_csv('sub_data_combined.csv', index=False)

# Channel Views

In [653]:
# Retrieves channel view counts by day data from Social Blade 
# Filtered by a month before and a month after the apology post date
view_month_change_dfs = []
count = 0
for i in range(len(web_archive_df)):
    view_month_change_dfs.append(filterdate(apology_dates[count], to_df(web_archive_df['Wayback Machine URL'][count], web_archive_df['Channel'][count], 'views')))
    count += 1
view_month_change_dfs

[           Date    Subs         Name
 495  2015-07-21  160731  Sam and Nia
 496  2015-07-22   79328  Sam and Nia
 497  2015-07-23   80040  Sam and Nia
 498  2015-07-24   80902  Sam and Nia
 499  2015-07-25   84380  Sam and Nia
 ..          ...     ...          ...
 553  2015-09-17  116506  Sam and Nia
 554  2015-09-18  112328  Sam and Nia
 555  2015-09-19  127878  Sam and Nia
 556  2015-09-20  142344  Sam and Nia
 557  2015-09-21  288471  Sam and Nia

 [63 rows x 3 columns],
            Date     Subs        Name
 38   2015-12-09   767958  DramaAlert
 39   2015-12-10   677001  DramaAlert
 40   2015-12-11   385065  DramaAlert
 41   2015-12-12   474056  DramaAlert
 42   2015-12-13   485719  DramaAlert
 ..          ...      ...         ...
 96   2016-02-05   486448  DramaAlert
 97   2016-02-06   601680  DramaAlert
 98   2016-02-07   658848  DramaAlert
 99   2016-02-08        0  DramaAlert
 100  2016-02-09  1331137  DramaAlert

 [63 rows x 3 columns],
             Date     Subs           Name
 1559  2015-12-31  4259824  The Fine Bros
 1560  2016-01-01  4444981  The Fine Bros
 1561  2016-01-02  5286914  The Fine Bros
 1562  2016-01-03  5118404  The Fine Bros
 1563  2016-01-04  5049503  The Fine Bros
 ...          ...      ...            ...
 1615  2016-02-25  2111419  The Fine Bros
 1616  2016-02-26  2736364  The Fine Bros
 1617  2016-02-27  2602824  The Fine Bros
 1618  2016-02-28  2940287  The Fine Bros
 1619  2016-02-29        0  The Fine Bros

 [61 rows x 3 columns],
            Date    Subs        Name
 331  2016-01-24  285221  Sam Pepper
 332  2016-01-25   -1036  Sam Pepper
 333  2016-01-26  388605  Sam Pepper
 334  2016-01-27  141062  Sam Pepper
 335  2016-01-28  131295  Sam Pepper
 ..          ...     ...         ...
 387  2016-03-20   32191  Sam Pepper
 388  2016-03-21   38305  Sam Pepper
 389  2016-03-22   37263  Sam Pepper
 390  2016-03-23   31713  Sam Pepper
 391  2016-03-24   27569  Sam Pepper

 [61 rows x 3 columns],
            Date      Subs         Name
 243  2016-02-21   1810584  LeafyIsHere
 244  2016-02-22         0  LeafyIsHere
 245  2016-02-23   4524061  LeafyIsHere
 246  2016-02-24   1755466  LeafyIsHere
 247  2016-02-25   1517800  LeafyIsHere
 ..          ...       ...          ...
 299  2016-04-17   3165752  LeafyIsHere
 300  2016-04-18   2830721  LeafyIsHere
 301  2016-04-19   3278447  LeafyIsHere
 302  2016-04-20   2996552  LeafyIsHere
 303  2016-04-21  -1421416  LeafyIsHere

 [61 rows x 3 columns],
           Date    Subs        Name
 13  2016-03-11  180650  TobyTurner
 14  2016-03-12  220486  TobyTurner
 15  2016-03-13  266801  TobyTurner
 16  2016-03-14       0  TobyTurner
 17  2016-03-15  421735  TobyTurner
 ..         ...     ...         ...
 70  2016-05-07  182901  TobyTurner
 71  2016-05-08  219778  TobyTurner
 72  2016-05-09  185640  TobyTurner
 73  2016-05-10  140877  TobyTurner
 74  2016-05-11  142529  TobyTurner

 [62 rows x 3 columns],
            Date    Subs    Name
 414  2016-06-06  199863  TmarTn
 415  2016-06-07  496540  TmarTn
 416  2016-06-08  578198  TmarTn
 417  2016-06-09  817983  TmarTn
 418  2016-06-10  454326  TmarTn
 ..          ...     ...     ...
 471  2016-08-02  530037  TmarTn
 472  2016-08-03  299418  TmarTn
 473  2016-08-04  370155  TmarTn
 474  2016-08-05  322243  TmarTn
 475  2016-08-06  177696  TmarTn

 [62 rows x 3 columns],
            Date     Subs      Name
 424  2016-06-16  2427626  RiceLive
 425  2016-06-17        0  RiceLive
 426  2016-06-18        0  RiceLive
 427  2016-06-19        0  RiceLive
 428  2016-06-20  5667258  RiceLive
 ..          ...      ...       ...
 481  2016-08-12  2692837  RiceLive
 482  2016-08-13  3534877  RiceLive
 483  2016-08-14  1865710  RiceLive
 484  2016-08-15        0  RiceLive
 485  2016-08-16  3127767  RiceLive

 [62 rows x 3 columns],
            Date    Subs         Name
 50   2016-07-17  178952  FunForLouis
 51   2016-07-18       0  FunForLouis
 52   2016-07-19  465456  FunForLouis
 53   2016-07-20  163123  FunForLouis
 54   2016-07-21  221737  FunForLouis
 ..          ...     ...          ...
 108  2016-09-13   89127  FunForLouis
 109  2016-09-14  114656  FunForLouis
 110  2016-09-15       0  FunForLouis
 111  2016-09-16  214786  FunForLouis
 112  2016-09-17  109988  FunForLouis

 [63 rows x 3 columns],
            Date      Subs         Name
 748  2017-02-19    265667  JonTronShow
 749  2017-02-20    276660  JonTronShow
 750  2017-02-21    275483  JonTronShow
 751  2017-02-22    241412  JonTronShow
 752  2017-02-23    231906  JonTronShow
 753  2017-02-24    236358  JonTronShow
 754  2017-02-25   1148659  JonTronShow
 755  2017-02-26         0  JonTronShow
 756  2017-02-27   1568863  JonTronShow
 757  2017-02-28    365238  JonTronShow
 758  2017-03-01    335584  JonTronShow
 759  2017-03-02    303156  JonTronShow
 760  2017-03-03    527299  JonTronShow
 761  2017-03-04         0  JonTronShow
 762  2017-03-05    291992  JonTronShow
 763  2017-03-06    293601  JonTronShow
 764  2017-03-07    243960  JonTronShow
 765  2017-03-08    227576  JonTronShow
 766  2017-03-09    222229  JonTronShow
 767  2017-03-10    212864  JonTronShow
 768  2017-03-11    227602  JonTronShow
 769  2017-03-12    248853  JonTronShow
 770  2017-03-13    261759  JonTronShow
 771  2017-03-14    277131  JonTronShow
 772  2017-03-15    284919  JonTronShow
 773  2017-03-16    284088  JonTronShow
 774  2017-03-17    265530  JonTronShow
 775  2017-03-18  -2459010  JonTronShow
 776  2017-03-19    267406  JonTronShow
 777  2017-03-20    275060  JonTronShow
 778  2017-03-21    250361  JonTronShow
 779  2017-03-22    242391  JonTronShow
 780  2017-03-23    234856  JonTronShow
 781  2017-03-24    528034  JonTronShow
 782  2017-03-25    305702  JonTronShow
 783  2017-03-26    288089  JonTronShow
 784  2017-03-27         0  JonTronShow
 785  2017-03-28    237096  JonTronShow
 786  2017-03-29    226107  JonTronShow
 787  2017-03-30    223053  JonTronShow
 788  2017-03-31    215861  JonTronShow
 789  2017-04-01    220483  JonTronShow
 790  2017-04-02    236545  JonTronShow
 791  2017-04-03    239512  JonTronShow
 792  2017-04-04    413027  JonTronShow
 793  2017-04-05         0  JonTronShow
 794  2017-04-06    200030  JonTronShow
 795  2017-04-07    190438  JonTronShow
 796  2017-04-08    422023  JonTronShow
 797  2017-04-09         0  JonTronShow
 798  2017-04-10    231571  JonTronShow
 799  2017-04-11    207516  JonTronShow
 800  2017-04-12    198989  JonTronShow
 801  2017-04-13    202400  JonTronShow
 802  2017-04-14    421500  JonTronShow
 803  2017-04-15    219941  JonTronShow
 804  2017-04-16         0  JonTronShow
 805  2017-04-17    224528  JonTronShow
 806  2017-04-18    219138  JonTronShow
 807  2017-04-19    190959  JonTronShow,
            Date     Subs             Name
 779  2017-03-03  2808390  H3H3Productions
 780  2017-03-04        0  H3H3Productions
 781  2017-03-05  1902956  H3H3Productions
 782  2017-03-06  2734532  H3H3Productions
 783  2017-03-07   773984  H3H3Productions
 ..          ...      ...              ...
 836  2017-04-29  2317482  H3H3Productions
 837  2017-04-30  1935744  H3H3Productions
 838  2017-05-01        0  H3H3Productions
 839  2017-05-02  1320899  H3H3Productions
 840  2017-05-03   854229  H3H3Productions

 [62 rows x 3 columns],
            Date    Subs        Name
 266  2017-03-22  479686  DaddyoFive
 267  2017-03-23  517849  DaddyoFive
 268  2017-03-24  972992  DaddyoFive
 269  2017-03-25  509261  DaddyoFive
 270  2017-03-26  556150  DaddyoFive
 ..          ...     ...         ...
 323  2017-05-18   19722  DaddyoFive
 324  2017-05-19   21392  DaddyoFive
 325  2017-05-20   16265  DaddyoFive
 326  2017-05-21   38453  DaddyoFive
 327  2017-05-22       0  DaddyoFive

 [62 rows x 3 columns],
            Date      Subs       Name
 575  2017-05-03   5615706  Jake Paul
 576  2017-05-04   5499618  Jake Paul
 577  2017-05-05   6044260  Jake Paul
 578  2017-05-06   6492643  Jake Paul
 579  2017-05-07   7173670  Jake Paul
 ..          ...       ...        ...
 632  2017-06-29  18067895  Jake Paul
 633  2017-06-30  14043678  Jake Paul
 634  2017-07-01  17310452  Jake Paul
 635  2017-07-02  14344989  Jake Paul
 636  2017-07-03  13522063  Jake Paul

 [62 rows x 3 columns],
            Date    Subs          Name
 349  2017-05-29   40287  Blaire White
 350  2017-05-30   41472  Blaire White
 351  2017-05-31   38009  Blaire White
 352  2017-06-01  128521  Blaire White
 353  2017-06-02   98519  Blaire White
 ..          ...     ...           ...
 406  2017-07-25   63299  Blaire White
 407  2017-07-26   62985  Blaire White
 408  2017-07-27   51410  Blaire White
 409  2017-07-28   47742  Blaire White
 410  2017-07-29   47311  Blaire White

 [62 rows x 3 columns],
            Date      Subs          Name
 415  2017-06-30     -5658  Simply_Kenna
 416  2017-07-01     28615  Simply_Kenna
 417  2017-07-02  -1199396  Simply_Kenna
 418  2017-07-03   -184254  Simply_Kenna
 419  2017-07-04     29522  Simply_Kenna
 ..          ...       ...           ...
 472  2017-08-26     68519  Simply_Kenna
 473  2017-08-27     60690  Simply_Kenna
 474  2017-08-28     43847  Simply_Kenna
 475  2017-08-29     30167  Simply_Kenna
 476  2017-08-30     29127  Simply_Kenna

 [62 rows x 3 columns],
            Date      Subs       Name
 589  2017-08-12  17256615  PewDiePie
 590  2017-08-13         0  PewDiePie
 591  2017-08-14   8409469  PewDiePie
 592  2017-08-15   7079401  PewDiePie
 593  2017-08-16  -1415650  PewDiePie
 ..          ...       ...        ...
 646  2017-10-08   7827402  PewDiePie
 647  2017-10-09   7797137  PewDiePie
 648  2017-10-10   4857737  PewDiePie
 649  2017-10-11   5166346  PewDiePie
 650  2017-10-12   6217153  PewDiePie

 [62 rows x 3 columns],
            Date    Subs           Name
 400  2017-10-05  124232  Social Repose
 401  2017-10-06  157559  Social Repose
 402  2017-10-07  192086  Social Repose
 403  2017-10-08  185476  Social Repose
 404  2017-10-09  163599  Social Repose
 ..          ...     ...            ...
 457  2017-12-01  122480  Social Repose
 458  2017-12-02  104520  Social Repose
 459  2017-12-03  115661  Social Repose
 460  2017-12-04  105614  Social Repose
 461  2017-12-05  115460  Social Repose

 [62 rows x 3 columns],
            Date     Subs      Name
 607  2017-10-14   209303  Zoe Sugg
 608  2017-10-15   280613  Zoe Sugg
 609  2017-10-16  1008556  Zoe Sugg
 610  2017-10-17   516854  Zoe Sugg
 611  2017-10-18   321096  Zoe Sugg
 ..          ...      ...       ...
 664  2017-12-10   341562  Zoe Sugg
 665  2017-12-11   296883  Zoe Sugg
 666  2017-12-12   239473  Zoe Sugg
 667  2017-12-13   208105  Zoe Sugg
 668  2017-12-14   196626  Zoe Sugg

 [62 rows x 3 columns],
            Date     Subs           Name
 519  2017-10-17   848726  Jenna Marbles
 520  2017-10-18   732160  Jenna Marbles
 521  2017-10-19   693795  Jenna Marbles
 522  2017-10-20  3005142  Jenna Marbles
 523  2017-10-21  1509071  Jenna Marbles
 ..          ...      ...            ...
 576  2017-12-13  1506413  Jenna Marbles
 577  2017-12-14   815624  Jenna Marbles
 578  2017-12-15   622617  Jenna Marbles
 579  2017-12-16   577526  Jenna Marbles
 580  2017-12-17   552455  Jenna Marbles

 [62 rows x 3 columns],
            Date   Subs       Name
 481  2017-10-28  29096  Shay Carl
 482  2017-10-29  43513  Shay Carl
 483  2017-10-30  53255  Shay Carl
 484  2017-10-31  49650  Shay Carl
 485  2017-11-01  42097  Shay Carl
 ..          ...    ...        ...
 538  2017-12-24  49626  Shay Carl
 539  2017-12-25  52494  Shay Carl
 540  2017-12-26  58536  Shay Carl
 541  2017-12-27  55236  Shay Carl
 542  2017-12-28  54390  Shay Carl

 [62 rows x 3 columns],
            Date      Subs        Name
 445  2017-12-02  10514378  Logan Paul
 446  2017-12-03   8419890  Logan Paul
 447  2017-12-04   7192318  Logan Paul
 448  2017-12-05   9115871  Logan Paul
 449  2017-12-06   8299272  Logan Paul
 ..          ...       ...         ...
 503  2018-01-29   2713534  Logan Paul
 504  2018-01-30   3085157  Logan Paul
 505  2018-01-31   2950158  Logan Paul
 506  2018-02-01   2513912  Logan Paul
 507  2018-02-02   4849741  Logan Paul

 [63 rows x 3 columns],
            Date    Subs               Name
 722  2018-05-18  463849  Alfie Deyes Vlogs
 723  2018-05-19  638620  Alfie Deyes Vlogs
 724  2018-05-20  313071  Alfie Deyes Vlogs
 725  2018-05-21  427721  Alfie Deyes Vlogs
 726  2018-05-22  296550  Alfie Deyes Vlogs
 ..          ...     ...                ...
 779  2018-07-14  321670  Alfie Deyes Vlogs
 780  2018-07-15  376268  Alfie Deyes Vlogs
 781  2018-07-16  286293  Alfie Deyes Vlogs
 782  2018-07-17  151827  Alfie Deyes Vlogs
 783  2018-07-18  193084  Alfie Deyes Vlogs

 [62 rows x 3 columns],
            Date    Subs          Name
 765  2018-06-30  427445  Tana Mongeau
 766  2018-07-01  561032  Tana Mongeau
 767  2018-07-02  543023  Tana Mongeau
 768  2018-07-03  445070  Tana Mongeau
 769  2018-07-04  432084  Tana Mongeau
 ..          ...     ...           ...
 822  2018-08-26  236805  Tana Mongeau
 823  2018-08-27  195837  Tana Mongeau
 824  2018-08-28  193044  Tana Mongeau
 825  2018-08-29  211687  Tana Mongeau
 826  2018-08-30  242808  Tana Mongeau

 [62 rows x 3 columns],
            Date    Subs         Name
 740  2018-07-16  113187  Olivia Jade
 741  2018-07-17  409433  Olivia Jade
 742  2018-07-18  182931  Olivia Jade
 743  2018-07-19  216316  Olivia Jade
 744  2018-07-20  249241  Olivia Jade
 ..          ...     ...          ...
 798  2018-09-12  124007  Olivia Jade
 799  2018-09-13  112224  Olivia Jade
 800  2018-09-14  366480  Olivia Jade
 801  2018-09-15  180695  Olivia Jade
 802  2018-09-16  135144  Olivia Jade

 [63 rows x 3 columns],
            Date    Subs            Name
 781  2018-07-16   89226  banana peppers
 782  2018-07-17  265273  banana peppers
 783  2018-07-18  338943  banana peppers
 784  2018-07-19  279373  banana peppers
 785  2018-07-20  176778  banana peppers
 ..          ...     ...             ...
 839  2018-09-12  302549  banana peppers
 840  2018-09-13  217054  banana peppers
 841  2018-09-14  168285  banana peppers
 842  2018-09-15  157486  banana peppers
 843  2018-09-16  143467  banana peppers

 [63 rows x 3 columns],
            Date    Subs       Name
 752  2018-07-19  745986  Laura Lee
 753  2018-07-20  405441  Laura Lee
 754  2018-07-21  534679  Laura Lee
 755  2018-07-22  700637  Laura Lee
 756  2018-07-23  449117  Laura Lee
 ..          ...     ...        ...
 810  2018-09-15  145820  Laura Lee
 811  2018-09-16  116250  Laura Lee
 812  2018-09-17   96926  Laura Lee
 813  2018-09-18  140041  Laura Lee
 814  2018-09-19  107239  Laura Lee

 [63 rows x 3 columns],
            Date    Subs            Name
 775  2018-07-21    7169  Gabriel Zamora
 776  2018-07-22   12276  Gabriel Zamora
 777  2018-07-23   11524  Gabriel Zamora
 778  2018-07-24   10371  Gabriel Zamora
 779  2018-07-25   22796  Gabriel Zamora
 ..          ...     ...             ...
 833  2018-09-17   11423  Gabriel Zamora
 834  2018-09-18   14054  Gabriel Zamora
 835  2018-09-19   43982  Gabriel Zamora
 836  2018-09-20  154653  Gabriel Zamora
 837  2018-09-21   66086  Gabriel Zamora

 [63 rows x 3 columns],
            Date    Subs       Name
 786  2018-07-23  521576  Manny Mua
 787  2018-07-24  394632  Manny Mua
 788  2018-07-25  624349  Manny Mua
 789  2018-07-26  604054  Manny Mua
 790  2018-07-27  338550  Manny Mua
 ..          ...     ...        ...
 844  2018-09-19   42940  Manny Mua
 845  2018-09-20   43438  Manny Mua
 846  2018-09-21   48294  Manny Mua
 847  2018-09-22   52516  Manny Mua
 848  2018-09-23   42952  Manny Mua

 [63 rows x 3 columns],
            Date    Subs             Name
 831  2018-09-08   21277  Philip DeFranco
 832  2018-09-09   86325  Philip DeFranco
 833  2018-09-10   59975  Philip DeFranco
 834  2018-09-11   89230  Philip DeFranco
 835  2018-09-12   45050  Philip DeFranco
 ..          ...     ...              ...
 888  2018-11-04   41191  Philip DeFranco
 889  2018-11-05  100579  Philip DeFranco
 890  2018-11-06   64181  Philip DeFranco
 891  2018-11-07   34574  Philip DeFranco
 892  2018-11-08   67066  Philip DeFranco

 [62 rows x 3 columns],
            Date     Subs                   Name
 911  2019-01-06    35134  Brittany Dawn Fitness
 912  2019-01-07    29265  Brittany Dawn Fitness
 913  2019-01-08    66076  Brittany Dawn Fitness
 914  2019-01-09    37710  Brittany Dawn Fitness
 915  2019-01-10    42627  Brittany Dawn Fitness
 916  2019-01-11    48835  Brittany Dawn Fitness
 917  2019-01-12    29603  Brittany Dawn Fitness
 918  2019-01-13    28131  Brittany Dawn Fitness
 919  2019-01-14    51176  Brittany Dawn Fitness
 920  2019-01-15    34998  Brittany Dawn Fitness
 921  2019-01-16    25024  Brittany Dawn Fitness
 922  2019-01-17    22948  Brittany Dawn Fitness
 923  2019-01-18    18198  Brittany Dawn Fitness
 924  2019-01-19    41819  Brittany Dawn Fitness
 925  2019-01-20    32826  Brittany Dawn Fitness
 926  2019-01-21    27100  Brittany Dawn Fitness
 927  2019-01-22    26487  Brittany Dawn Fitness
 928  2019-01-23    38065  Brittany Dawn Fitness
 929  2019-01-24    25604  Brittany Dawn Fitness
 930  2019-01-25    22243  Brittany Dawn Fitness
 931  2019-01-26    21007  Brittany Dawn Fitness
 932  2019-01-27    21442  Brittany Dawn Fitness
 933  2019-01-28    23827  Brittany Dawn Fitness
 934  2019-01-29    35926  Brittany Dawn Fitness
 935  2019-01-30    30541  Brittany Dawn Fitness
 936  2019-01-31    27676  Brittany Dawn Fitness
 937  2019-02-01    51266  Brittany Dawn Fitness
 938  2019-02-02    39462  Brittany Dawn Fitness
 939  2019-02-03    30194  Brittany Dawn Fitness
 940  2019-02-04    32716  Brittany Dawn Fitness
 941  2019-02-05    41553  Brittany Dawn Fitness
 942  2019-02-06   132896  Brittany Dawn Fitness
 943  2019-02-07    86563  Brittany Dawn Fitness
 944  2019-02-08    72807  Brittany Dawn Fitness
 945  2019-02-09    52564  Brittany Dawn Fitness
 946  2019-02-10    47205  Brittany Dawn Fitness
 947  2019-02-11    70133  Brittany Dawn Fitness
 948  2019-02-12    73618  Brittany Dawn Fitness
 949  2019-02-13    66565  Brittany Dawn Fitness
 950  2019-02-14    42507  Brittany Dawn Fitness
 951  2019-02-15    46690  Brittany Dawn Fitness
 952  2019-02-16    37260  Brittany Dawn Fitness
 953  2019-02-17  -468724  Brittany Dawn Fitness
 954  2019-02-18   -77404  Brittany Dawn Fitness
 955  2019-02-19    18344  Brittany Dawn Fitness
 956  2019-02-20    15807  Brittany Dawn Fitness
 957  2019-02-21    14330  Brittany Dawn Fitness
 958  2019-02-22    13622  Brittany Dawn Fitness
 959  2019-02-23    20274  Brittany Dawn Fitness
 960  2019-02-24    54995  Brittany Dawn Fitness
 961  2019-02-25    25228  Brittany Dawn Fitness
 962  2019-02-26    16777  Brittany Dawn Fitness
 963  2019-02-27    14655  Brittany Dawn Fitness
 964  2019-02-28    11556  Brittany Dawn Fitness
 965  2019-03-01    10765  Brittany Dawn Fitness
 966  2019-03-02     9970  Brittany Dawn Fitness
 967  2019-03-03    12025  Brittany Dawn Fitness
 968  2019-03-04    10768  Brittany Dawn Fitness
 969  2019-03-05     6272  Brittany Dawn Fitness
 970  2019-03-06    34580  Brittany Dawn Fitness,
            Date      Subs     Name
 898  2019-02-15    102873  Rawvana
 899  2019-02-16    100396  Rawvana
 900  2019-02-17    121447  Rawvana
 901  2019-02-18    138065  Rawvana
 902  2019-02-19    149680  Rawvana
 903  2019-02-20    126045  Rawvana
 904  2019-02-21    101369  Rawvana
 905  2019-02-22     99729  Rawvana
 906  2019-02-23    100007  Rawvana
 907  2019-02-24    113910  Rawvana
 908  2019-02-25    131743  Rawvana
 909  2019-02-26    127736  Rawvana
 910  2019-02-27    127122  Rawvana
 911  2019-02-28    107619  Rawvana
 912  2019-03-01     96678  Rawvana
 913  2019-03-02     94101  Rawvana
 914  2019-03-03    109393  Rawvana
 915  2019-03-04    147539  Rawvana
 916  2019-03-05     85743  Rawvana
 917  2019-03-06    182474  Rawvana
 918  2019-03-07    142456  Rawvana
 919  2019-03-08    110499  Rawvana
 920  2019-03-09    112456  Rawvana

In [654]:
# Retrieves total channel view count data from Social Blade 
# Filtered by a month before and a month after the apology post date
view_month_total = []
count = 0
for i in range(len(web_archive_df)):
    view_month_total.append(filterdate(apology_dates[count], to_df(web_archive_df['Wayback Machine URL'][count], web_archive_df['Channel'][count], 'views_tot')))
    count += 1
view_month_total

[           Date      Subs         Name
 495  2015-07-21  42089601  Sam and Nia
 496  2015-07-22  42250332  Sam and Nia
 497  2015-07-23  42329660  Sam and Nia
 498  2015-07-24  42409700  Sam and Nia
 499  2015-07-25  42490602  Sam and Nia
 ..          ...       ...          ...
 553  2015-09-17  77569190  Sam and Nia
 554  2015-09-18  77685696  Sam and Nia
 555  2015-09-19  77798024  Sam and Nia
 556  2015-09-20  77925902  Sam and Nia
 557  2015-09-21  78068246  Sam and Nia

 [63 rows x 3 columns],
            Date       Subs        Name
 38   2015-12-09   82124382  DramaAlert
 39   2015-12-10   82892340  DramaAlert
 40   2015-12-11   83569341  DramaAlert
 41   2015-12-12   83954406  DramaAlert
 42   2015-12-13   84428462  DramaAlert
 ..          ...        ...         ...
 96   2016-02-05  117807280  DramaAlert
 97   2016-02-06  118293728  DramaAlert
 98   2016-02-07  118895408  DramaAlert
 99   2016-02-08  119554256  DramaAlert
 100  2016-02-09  119554256  DramaAlert

 [63 rows x 3 columns],
             Date        Subs           Name
 1559  2015-12-31  3703295563  The Fine Bros
 1560  2016-01-01  3707555387  The Fine Bros
 1561  2016-01-02  3712000368  The Fine Bros
 1562  2016-01-03  3717287282  The Fine Bros
 1563  2016-01-04  3722405686  The Fine Bros
 ...          ...         ...            ...
 1615  2016-02-25  3892958944  The Fine Bros
 1616  2016-02-26  3895070363  The Fine Bros
 1617  2016-02-27  3897806727  The Fine Bros
 1618  2016-02-28  3900409551  The Fine Bros
 1619  2016-02-29  3903349838  The Fine Bros

 [61 rows x 3 columns],
            Date       Subs        Name
 331  2016-01-24  199355620  Sam Pepper
 332  2016-01-25  199640841  Sam Pepper
 333  2016-01-26  199639805  Sam Pepper
 334  2016-01-27  200028410  Sam Pepper
 335  2016-01-28  200169472  Sam Pepper
 ..          ...        ...         ...
 387  2016-03-20    4717031  Sam Pepper
 388  2016-03-21    4749222  Sam Pepper
 389  2016-03-22    4787527  Sam Pepper
 390  2016-03-23    4824790  Sam Pepper
 391  2016-03-24    4856503  Sam Pepper

 [61 rows x 3 columns],
            Date       Subs         Name
 243  2016-02-21  133762810  LeafyIsHere
 244  2016-02-22  135573394  LeafyIsHere
 245  2016-02-23  135573394  LeafyIsHere
 246  2016-02-24  140097455  LeafyIsHere
 247  2016-02-25  141852921  LeafyIsHere
 ..          ...        ...          ...
 299  2016-04-17  276725867  LeafyIsHere
 300  2016-04-18  279891619  LeafyIsHere
 301  2016-04-19  282722340  LeafyIsHere
 302  2016-04-20  286000787  LeafyIsHere
 303  2016-04-21  288997339  LeafyIsHere

 [61 rows x 3 columns],
           Date        Subs        Name
 13  2016-03-11  1233468836  TobyTurner
 14  2016-03-12  1233649486  TobyTurner
 15  2016-03-13  1233869972  TobyTurner
 16  2016-03-14  1234136773  TobyTurner
 17  2016-03-15  1234136773  TobyTurner
 ..         ...         ...         ...
 70  2016-05-07  1245562912  TobyTurner
 71  2016-05-08  1245745813  TobyTurner
 72  2016-05-09  1245965591  TobyTurner
 73  2016-05-10  1246151231  TobyTurner
 74  2016-05-11  1246292108  TobyTurner

 [62 rows x 3 columns],
            Date       Subs    Name
 414  2016-06-06  671541932  TmarTn
 415  2016-06-07  671741795  TmarTn
 416  2016-06-08  672238335  TmarTn
 417  2016-06-09  672816533  TmarTn
 418  2016-06-10  673634516  TmarTn
 ..          ...        ...     ...
 471  2016-08-02  695956561  TmarTn
 472  2016-08-03  696486598  TmarTn
 473  2016-08-04  696786016  TmarTn
 474  2016-08-05  697156171  TmarTn
 475  2016-08-06  697478414  TmarTn

 [62 rows x 3 columns],
            Date       Subs      Name
 424  2016-06-16  126706928  RiceLive
 425  2016-06-17  129134554  RiceLive
 426  2016-06-18  129134554  RiceLive
 427  2016-06-19  129134554  RiceLive
 428  2016-06-20  129134554  RiceLive
 ..          ...        ...       ...
 481  2016-08-12  235218095  RiceLive
 482  2016-08-13  237910932  RiceLive
 483  2016-08-14  241445809  RiceLive
 484  2016-08-15  243311519  RiceLive
 485  2016-08-16  243311519  RiceLive

 [62 rows x 3 columns],
            Date       Subs         Name
 50   2016-07-17  217861422  FunForLouis
 51   2016-07-18  218040374  FunForLouis
 52   2016-07-19  218040374  FunForLouis
 53   2016-07-20  218505830  FunForLouis
 54   2016-07-21  218668953  FunForLouis
 ..          ...        ...          ...
 108  2016-09-13  230701153  FunForLouis
 109  2016-09-14  230790280  FunForLouis
 110  2016-09-15  230904936  FunForLouis
 111  2016-09-16  230904936  FunForLouis
 112  2016-09-17  231119722  FunForLouis

 [63 rows x 3 columns],
            Date       Subs         Name
 748  2017-02-19  401906197  JonTronShow
 749  2017-02-20  402171864  JonTronShow
 750  2017-02-21  402448524  JonTronShow
 751  2017-02-22  402724007  JonTronShow
 752  2017-02-23  402965419  JonTronShow
 753  2017-02-24  403197325  JonTronShow
 754  2017-02-25  403433683  JonTronShow
 755  2017-02-26  404582342  JonTronShow
 756  2017-02-27  404582342  JonTronShow
 757  2017-02-28  406151205  JonTronShow
 758  2017-03-01  406516443  JonTronShow
 759  2017-03-02  406852027  JonTronShow
 760  2017-03-03  407155183  JonTronShow
 761  2017-03-04  407682482  JonTronShow
 762  2017-03-05  407682482  JonTronShow
 763  2017-03-06  407974474  JonTronShow
 764  2017-03-07  408268075  JonTronShow
 765  2017-03-08  408512035  JonTronShow
 766  2017-03-09  408739611  JonTronShow
 767  2017-03-10  408961840  JonTronShow
 768  2017-03-11  409174704  JonTronShow
 769  2017-03-12  409402306  JonTronShow
 770  2017-03-13  409651159  JonTronShow
 771  2017-03-14  409912918  JonTronShow
 772  2017-03-15  410190049  JonTronShow
 773  2017-03-16  410474968  JonTronShow
 774  2017-03-17  410759056  JonTronShow
 775  2017-03-18  411024586  JonTronShow
 776  2017-03-19  408565576  JonTronShow
 777  2017-03-20  408832982  JonTronShow
 778  2017-03-21  409108042  JonTronShow
 779  2017-03-22  409358403  JonTronShow
 780  2017-03-23  409600794  JonTronShow
 781  2017-03-24  409835650  JonTronShow
 782  2017-03-25  410363684  JonTronShow
 783  2017-03-26  410669386  JonTronShow
 784  2017-03-27  410957475  JonTronShow
 785  2017-03-28  410957475  JonTronShow
 786  2017-03-29  411194571  JonTronShow
 787  2017-03-30  411420678  JonTronShow
 788  2017-03-31  411643731  JonTronShow
 789  2017-04-01  411859592  JonTronShow
 790  2017-04-02  412080075  JonTronShow
 791  2017-04-03  412316620  JonTronShow
 792  2017-04-04  412556132  JonTronShow
 793  2017-04-05  412969159  JonTronShow
 794  2017-04-06  412969159  JonTronShow
 795  2017-04-07  413169189  JonTronShow
 796  2017-04-08  413359627  JonTronShow
 797  2017-04-09  413781650  JonTronShow
 798  2017-04-10  413781650  JonTronShow
 799  2017-04-11  414013221  JonTronShow
 800  2017-04-12  414220737  JonTronShow
 801  2017-04-13  414419726  JonTronShow
 802  2017-04-14  414622126  JonTronShow
 803  2017-04-15  415043626  JonTronShow
 804  2017-04-16  415263567  JonTronShow
 805  2017-04-17  415263567  JonTronShow
 806  2017-04-18  415488095  JonTronShow
 807  2017-04-19  415707233  JonTronShow,
            Date       Subs             Name
 779  2017-03-03  508069445  H3H3Productions
 780  2017-03-04  510877835  H3H3Productions
 781  2017-03-05  510877835  H3H3Productions
 782  2017-03-06  512780791  H3H3Productions
 783  2017-03-07  515515323  H3H3Productions
 ..          ...        ...              ...
 836  2017-04-29  588448457  H3H3Productions
 837  2017-04-30  590765939  H3H3Productions
 838  2017-05-01  592701683  H3H3Productions
 839  2017-05-02  592701683  H3H3Productions
 840  2017-05-03  594022582  H3H3Productions

 [62 rows x 3 columns],
            Date       Subs        Name
 266  2017-03-22  160435180  DaddyoFive
 267  2017-03-23  160914866  DaddyoFive
 268  2017-03-24  161432715  DaddyoFive
 269  2017-03-25  162405707  DaddyoFive
 270  2017-03-26  162914968  DaddyoFive
 ..          ...        ...         ...
 323  2017-05-18    4014977  DaddyoFive
 324  2017-05-19    4034699  DaddyoFive
 325  2017-05-20    4056091  DaddyoFive
 326  2017-05-21    4072356  DaddyoFive
 327  2017-05-22    4110809  DaddyoFive

 [62 rows x 3 columns],
            Date        Subs       Name
 575  2017-05-03   558186067  Jake Paul
 576  2017-05-04   563801773  Jake Paul
 577  2017-05-05   569301391  Jake Paul
 578  2017-05-06   575345651  Jake Paul
 579  2017-05-07   581838294  Jake Paul
 ..          ...         ...        ...
 632  2017-06-29  1184662221  Jake Paul
 633  2017-06-30  1202730116  Jake Paul
 634  2017-07-01  1216773794  Jake Paul
 635  2017-07-02  1234084246  Jake Paul
 636  2017-07-03  1248429235  Jake Paul

 [62 rows x 3 columns],
            Date      Subs          Name
 349  2017-05-29  25674893  Blaire White
 350  2017-05-30  25715180  Blaire White
 351  2017-05-31  25756652  Blaire White
 352  2017-06-01  25794661  Blaire White
 353  2017-06-02  25923182  Blaire White
 ..          ...       ...           ...
 406  2017-07-25  30459578  Blaire White
 407  2017-07-26  30522877  Blaire White
 408  2017-07-27  30585862  Blaire White
 409  2017-07-28  30637272  Blaire White
 410  2017-07-29  30685014  Blaire White

 [62 rows x 3 columns],
            Date      Subs          Name
 415  2017-06-30  40471104  Simply_Kenna
 416  2017-07-01  40465446  Simply_Kenna
 417  2017-07-02  40494061  Simply_Kenna
 418  2017-07-03  39294665  Simply_Kenna
 419  2017-07-04  39110411  Simply_Kenna
 ..          ...       ...           ...
 472  2017-08-26  37998187  Simply_Kenna
 473  2017-08-27  38066706  Simply_Kenna
 474  2017-08-28  38127396  Simply_Kenna
 475  2017-08-29  38171243  Simply_Kenna
 476  2017-08-30  38201410  Simply_Kenna

 [62 rows x 3 columns],
            Date         Subs       Name
 589  2017-08-12  15941372993  PewDiePie
 590  2017-08-13  15958629608  PewDiePie
 591  2017-08-14  15958629608  PewDiePie
 592  2017-08-15  15967039077  PewDiePie
 593  2017-08-16  15974118478  PewDiePie
 ..          ...          ...        ...
 646  2017-10-08  16172612245  PewDiePie
 647  2017-10-09  16180439647  PewDiePie
 648  2017-10-10  16188236784  PewDiePie
 649  2017-10-11  16193094521  PewDiePie
 650  2017-10-12  16198260867  PewDiePie

 [62 rows x 3 columns],
            Date       Subs           Name
 400  2017-10-05  157486995  Social Repose
 401  2017-10-06  157611227  Social Repose
 402  2017-10-07  157768786  Social Repose
 403  2017-10-08  157960872  Social Repose
 404  2017-10-09  158146348  Social Repose
 ..          ...        ...            ...
 457  2017-12-01  165520536  Social Repose
 458  2017-12-02  165643016  Social Repose
 459  2017-12-03  165747536  Social Repose
 460  2017-12-04  165863197  Social Repose
 461  2017-12-05  165968811  Social Repose

 [62 rows x 3 columns],
            Date        Subs      Name
 607  2017-10-14  1028402167  Zoe Sugg
 608  2017-10-15  1028611470  Zoe Sugg
 609  2017-10-16  1028892083  Zoe Sugg
 610  2017-10-17  1029900639  Zoe Sugg
 611  2017-10-18  1030417493  Zoe Sugg
 ..          ...         ...       ...
 664  2017-12-10  1052676517  Zoe Sugg
 665  2017-12-11  1053018079  Zoe Sugg
 666  2017-12-12  1053314962  Zoe Sugg
 667  2017-12-13  1053554435  Zoe Sugg
 668  2017-12-14  1053762540  Zoe Sugg

 [62 rows x 3 columns],
            Date        Subs           Name
 519  2017-10-17  2495788328  Jenna Marbles
 520  2017-10-18  2496637054  Jenna Marbles
 521  2017-10-19  2497369214  Jenna Marbles
 522  2017-10-20  2498063009  Jenna Marbles
 523  2017-10-21  2501068151  Jenna Marbles
 ..          ...         ...            ...
 576  2017-12-13  2552565120  Jenna Marbles
 577  2017-12-14  2554071533  Jenna Marbles
 578  2017-12-15  2554887157  Jenna Marbles
 579  2017-12-16  2555509774  Jenna Marbles
 580  2017-12-17  2556087300  Jenna Marbles

 [62 rows x 3 columns],
            Date       Subs       Name
 481  2017-10-28  303624920  Shay Carl
 482  2017-10-29  303654016  Shay Carl
 483  2017-10-30  303697529  Shay Carl
 484  2017-10-31  303750784  Shay Carl
 485  2017-11-01  303800434  Shay Carl
 ..          ...        ...        ...
 538  2017-12-24  309536833  Shay Carl
 539  2017-12-25  309586459  Shay Carl
 540  2017-12-26  309638953  Shay Carl
 541  2017-12-27  309697489  Shay Carl
 542  2017-12-28  309752725  Shay Carl

 [62 rows x 3 columns],
            Date        Subs        Name
 445  2017-12-02  2635874910  Logan Paul
 446  2017-12-03  2646389288  Logan Paul
 447  2017-12-04  2654809178  Logan Paul
 448  2017-12-05  2662001496  Logan Paul
 449  2017-12-06  2671117367  Logan Paul
 ..          ...         ...         ...
 503  2018-01-29  3146815389  Logan Paul
 504  2018-01-30  3149528923  Logan Paul
 505  2018-01-31  3152614080  Logan Paul
 506  2018-02-01  3155564238  Logan Paul
 507  2018-02-02  3158078150  Logan Paul

 [63 rows x 3 columns],
            Date       Subs               Name
 722  2018-05-18  949393129  Alfie Deyes Vlogs
 723  2018-05-19  949856978  Alfie Deyes Vlogs
 724  2018-05-20  950495598  Alfie Deyes Vlogs
 725  2018-05-21  950808669  Alfie Deyes Vlogs
 726  2018-05-22  951236390  Alfie Deyes Vlogs
 ..          ...        ...                ...
 779  2018-07-14  966443295  Alfie Deyes Vlogs
 780  2018-07-15  966764965  Alfie Deyes Vlogs
 781  2018-07-16  967141233  Alfie Deyes Vlogs
 782  2018-07-17  967427526  Alfie Deyes Vlogs
 783  2018-07-18  967579353  Alfie Deyes Vlogs

 [62 rows x 3 columns],
            Date       Subs          Name
 765  2018-06-30  403334659  Tana Mongeau
 766  2018-07-01  403762104  Tana Mongeau
 767  2018-07-02  404323136  Tana Mongeau
 768  2018-07-03  404866159  Tana Mongeau
 769  2018-07-04  405311229  Tana Mongeau
 ..          ...        ...           ...
 822  2018-08-26  427506092  Tana Mongeau
 823  2018-08-27  427742897  Tana Mongeau
 824  2018-08-28  427938734  Tana Mongeau
 825  2018-08-29  428131778  Tana Mongeau
 826  2018-08-30  428343465  Tana Mongeau

 [62 rows x 3 columns],
            Date       Subs         Name
 740  2018-07-16  111078692  Olivia Jade
 741  2018-07-17  111191879  Olivia Jade
 742  2018-07-18  111601312  Olivia Jade
 743  2018-07-19  111784243  Olivia Jade
 744  2018-07-20  112000559  Olivia Jade
 ..          ...        ...          ...
 798  2018-09-12  124671179  Olivia Jade
 799  2018-09-13  124795186  Olivia Jade
 800  2018-09-14  124907410  Olivia Jade
 801  2018-09-15  125273890  Olivia Jade
 802  2018-09-16  125454585  Olivia Jade

 [63 rows x 3 columns],
            Date        Subs            Name
 781  2018-07-16  1517457802  banana peppers
 782  2018-07-17  1517547028  banana peppers
 783  2018-07-18  1517812301  banana peppers
 784  2018-07-19  1518151244  banana peppers
 785  2018-07-20  1518430617  banana peppers
 ..          ...         ...             ...
 839  2018-09-12  1532007165  banana peppers
 840  2018-09-13  1532309714  banana peppers
 841  2018-09-14  1532526768  banana peppers
 842  2018-09-15  1532695053  banana peppers
 843  2018-09-16  1532852539  banana peppers

 [63 rows x 3 columns],
            Date       Subs       Name
 752  2018-07-19  485816033  Laura Lee
 753  2018-07-20  486562019  Laura Lee
 754  2018-07-21  486967460  Laura Lee
 755  2018-07-22  487502139  Laura Lee
 756  2018-07-23  488202776  Laura Lee
 ..          ...        ...        ...
 810  2018-09-15  520684431  Laura Lee
 811  2018-09-16  520830251  Laura Lee
 812  2018-09-17  520946501  Laura Lee
 813  2018-09-18  521043427  Laura Lee
 814  2018-09-19  521183468  Laura Lee

 [63 rows x 3 columns],
            Date      Subs            Name
 775  2018-07-21  10623901  Gabriel Zamora
 776  2018-07-22  10631070  Gabriel Zamora
 777  2018-07-23  10643346  Gabriel Zamora
 778  2018-07-24  10654870  Gabriel Zamora
 779  2018-07-25  10665241  Gabriel Zamora
 ..          ...       ...             ...
 833  2018-09-17  16304878  Gabriel Zamora
 834  2018-09-18  16316301  Gabriel Zamora
 835  2018-09-19  16330355  Gabriel Zamora
 836  2018-09-20  16374337  Gabriel Zamora
 837  2018-09-21  16528990  Gabriel Zamora

 [63 rows x 3 columns],
            Date       Subs       Name
 786  2018-07-23  389589665  Manny Mua
 787  2018-07-24  390111241  Manny Mua
 788  2018-07-25  390505873  Manny Mua
 789  2018-07-26  391130222  Manny Mua
 790  2018-07-27  391734276  Manny Mua
 ..          ...        ...        ...
 844  2018-09-19  409844341  Manny Mua
 845  2018-09-20  409887281  Manny Mua
 846  2018-09-21  409930719  Manny Mua
 847  2018-09-22  409979013  Manny Mua
 848  2018-09-23  410031529  Manny Mua

 [63 rows x 3 columns],
            Date       Subs             Name
 831  2018-09-08  250938891  Philip DeFranco
 832  2018-09-09  250960168  Philip DeFranco
 833  2018-09-10  251046493  Philip DeFranco
 834  2018-09-11  251106468  Philip DeFranco
 835  2018-09-12  251195698  Philip DeFranco
 ..          ...        ...              ...
 888  2018-11-04  253995012  Philip DeFranco
 889  2018-11-05  254036203  Philip DeFranco
 890  2018-11-06  254136782  Philip DeFranco
 891  2018-11-07  254200963  Philip DeFranco
 892  2018-11-08  254235537  Philip DeFranco

 [62 rows x 3 columns],
            Date      Subs                   Name
 911  2019-01-06  13072814  Brittany Dawn Fitness
 912  2019-01-07  13107948  Brittany Dawn Fitness
 913  2019-01-08  13137213  Brittany Dawn Fitness
 914  2019-01-09  13203289  Brittany Dawn Fitness
 915  2019-01-10  13240999  Brittany Dawn Fitness
 916  2019-01-11  13283626  Brittany Dawn Fitness
 917  2019-01-12  13332461  Brittany Dawn Fitness
 918  2019-01-13  13362064  Brittany Dawn Fitness
 919  2019-01-14  13390195  Brittany Dawn Fitness
 920  2019-01-15  13441371  Brittany Dawn Fitness
 921  2019-01-16  13476369  Brittany Dawn Fitness
 922  2019-01-17  13501393  Brittany Dawn Fitness
 923  2019-01-18  13524341  Brittany Dawn Fitness
 924  2019-01-19  13542539  Brittany Dawn Fitness
 925  2019-01-20  13584358  Brittany Dawn Fitness
 926  2019-01-21  13617184  Brittany Dawn Fitness
 927  2019-01-22  13644284  Brittany Dawn Fitness
 928  2019-01-23  13670771  Brittany Dawn Fitness
 929  2019-01-24  13708836  Brittany Dawn Fitness
 930  2019-01-25  13734440  Brittany Dawn Fitness
 931  2019-01-26  13756683  Brittany Dawn Fitness
 932  2019-01-27  13777690  Brittany Dawn Fitness
 933  2019-01-28  13799132  Brittany Dawn Fitness
 934  2019-01-29  13822959  Brittany Dawn Fitness
 935  2019-01-30  13858885  Brittany Dawn Fitness
 936  2019-01-31  13889426  Brittany Dawn Fitness
 937  2019-02-01  13917102  Brittany Dawn Fitness
 938  2019-02-02  13968368  Brittany Dawn Fitness
 939  2019-02-03  14007830  Brittany Dawn Fitness
 940  2019-02-04  14038024  Brittany Dawn Fitness
 941  2019-02-05  14070740  Brittany Dawn Fitness
 942  2019-02-06  14112293  Brittany Dawn Fitness
 943  2019-02-07  14245189  Brittany Dawn Fitness
 944  2019-02-08  14331752  Brittany Dawn Fitness
 945  2019-02-09  14404559  Brittany Dawn Fitness
 946  2019-02-10  14457123  Brittany Dawn Fitness
 947  2019-02-11  14504328  Brittany Dawn Fitness
 948  2019-02-12  14574461  Brittany Dawn Fitness
 949  2019-02-13  14648079  Brittany Dawn Fitness
 950  2019-02-14  14714644  Brittany Dawn Fitness
 951  2019-02-15  14757151  Brittany Dawn Fitness
 952  2019-02-16  14803841  Brittany Dawn Fitness
 953  2019-02-17  14841101  Brittany Dawn Fitness
 954  2019-02-18  14372377  Brittany Dawn Fitness
 955  2019-02-19  14294973  Brittany Dawn Fitness
 956  2019-02-20  14313317  Brittany Dawn Fitness
 957  2019-02-21  14329124  Brittany Dawn Fitness
 958  2019-02-22  14343454  Brittany Dawn Fitness
 959  2019-02-23  14357076  Brittany Dawn Fitness
 960  2019-02-24  14377350  Brittany Dawn Fitness
 961  2019-02-25  14432345  Brittany Dawn Fitness
 962  2019-02-26  14457573  Brittany Dawn Fitness
 963  2019-02-27  14474350  Brittany Dawn Fitness
 964  2019-02-28  14489005  Brittany Dawn Fitness
 965  2019-03-01  14500561  Brittany Dawn Fitness
 966  2019-03-02  14511326  Brittany Dawn Fitness
 967  2019-03-03  14521296  Brittany Dawn Fitness

In [655]:
# Exports channel views data into CSV files
pd.concat(view_month_change_dfs).to_csv('view_month_change.csv', index=False)
pd.concat(view_month_total).to_csv('view_month_total.csv', index=False)

In [676]:
# Merges channel views by data data with subscriber change count data
for i in range(len(web_archive_df)-6):
    sub_month_change_dfs[i]['Views'] = view_month_change_dfs[i].Subs
    
# Merges total channel view data with subscriber change count data
for i in range(len(web_archive_df)-6):
    sub_month_change_dfs[i]['Views Total'] = view_month_total[i].Subs

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35

[           Date  Subs         Name   Total   Views
 495  2015-07-21   270  Sam and Nia  152953  160731
 496  2015-07-22   237  Sam and Nia  153223   79328
 497  2015-07-23    74  Sam and Nia  153460   80040
 498  2015-07-24   793  Sam and Nia  153534   80902
 499  2015-07-25   386  Sam and Nia  154327   84380
 ..          ...   ...          ...     ...     ...
 553  2015-09-17   279  Sam and Nia  371386  116506
 554  2015-09-18   193  Sam and Nia  371665  112328
 555  2015-09-19  1328  Sam and Nia  371858  127878
 556  2015-09-20  1135  Sam and Nia  373186  142344
 557  2015-09-21   216  Sam and Nia  374321  288471

 [63 rows x 5 columns],
            Date  Subs        Name   Total    Views
 38   2015-12-09  2922  DramaAlert  674981   767958
 39   2015-12-10  2126  DramaAlert  677903   677001
 40   2015-12-11  4009  DramaAlert  680029   385065
 41   2015-12-12  4280  DramaAlert  684038   474056
 42   2015-12-13  3825  DramaAlert  688318   485719
 ..          ...   ...         ...     ...      ...
 96   2016-02-05  3867  DramaAlert  965800   486448
 97   2016-02-06  4611  DramaAlert  969667   601680
 98   2016-02-07  4642  DramaAlert  974278   658848
 99   2016-02-08  8342  DramaAlert  978920        0
 100  2016-02-09  8091  DramaAlert  987262  1331137

 [63 rows x 5 columns],
             Date   Subs           Name     Total    Views
 1559  2015-12-31   9283  The Fine Bros  13838541  4259824
 1560  2016-01-01  11557  The Fine Bros  13847824  4444981
 1561  2016-01-02   9290  The Fine Bros  13859381  5286914
 1562  2016-01-03  12023  The Fine Bros  13868671  5118404
 1563  2016-01-04   8959  The Fine Bros  13880694  5049503
 ...          ...    ...            ...       ...      ...
 1615  2016-02-25   1704  The Fine Bros  13588299  2111419
 1616  2016-02-26    -53  The Fine Bros  13590003  2736364
 1617  2016-02-27   -965  The Fine Bros  13589950  2602824
 1618  2016-02-28    765  The Fine Bros  13588985  2940287
 1619  2016-02-29   1037  The Fine Bros  13589750        0

 [61 rows x 5 columns],
            Date Subs        Name    Total   Views
 331  2016-01-24   79  Sam Pepper  2315443  285221
 332  2016-01-25  169  Sam Pepper  2315522   -1036
 333  2016-01-26  248  Sam Pepper  2315691  388605
 334  2016-01-27  811  Sam Pepper  2315939  141062
 335  2016-01-28  315  Sam Pepper  2316750  131295
 ..          ...  ...         ...      ...     ...
 387  2016-03-20   94  Sam Pepper  2329669   32191
 388  2016-03-21  109  Sam Pepper  2329763   38305
 389  2016-03-22   92  Sam Pepper  2329872   37263
 390  2016-03-23  -38  Sam Pepper  2329964   31713
 391  2016-03-24   94  Sam Pepper  2329926   27569

 [61 rows x 5 columns],
            Date   Subs         Name    Total     Views
 243  2016-02-21  12684  LeafyIsHere  1167961   1810584
 244  2016-02-22  12075  LeafyIsHere  1180645         0
 245  2016-02-23   8982  LeafyIsHere  1192720   4524061
 246  2016-02-24  11017  LeafyIsHere  1201702   1755466
 247  2016-02-25   7694  LeafyIsHere  1212719   1517800
 ..          ...    ...          ...      ...       ...
 299  2016-04-17  17566  LeafyIsHere  2195123   3165752
 300  2016-04-18  17575  LeafyIsHere  2212689   2830721
 301  2016-04-19  14591  LeafyIsHere  2230264   3278447
 302  2016-04-20  11426  LeafyIsHere  2244855   2996552
 303  2016-04-21   9947  LeafyIsHere  2256281  -1421416

 [61 rows x 5 columns],
           Date  Subs        Name    Total   Views
 13  2016-03-11    47  TobyTurner  6380150  180650
 14  2016-03-12   112  TobyTurner  6380197  220486
 15  2016-03-13   -65  TobyTurner  6380309  266801
 16  2016-03-14   546  TobyTurner  6380244       0
 17  2016-03-15  -165  TobyTurner  6380790  421735
 ..         ...   ...         ...      ...     ...
 70  2016-05-07  -214  TobyTurner  6390591  182901
 71  2016-05-08     6  TobyTurner  6390377  219778
 72  2016-05-09  -143  TobyTurner  6390383  185640
 73  2016-05-10  -109  TobyTurner  6390240  140877
 74  2016-05-11     8  TobyTurner  6390131  142529

 [62 rows x 5 columns],
            Date  Subs    Name    Total   Views
 414  2016-06-06  1640  TmarTn  3211746  199863
 415  2016-06-07  1988  TmarTn  3213386  496540
 416  2016-06-08  1207  TmarTn  3215374  578198
 417  2016-06-09  1354  TmarTn  3216581  817983
 418  2016-06-10  1633  TmarTn  3217935  454326
 ..          ...   ...     ...      ...     ...
 471  2016-08-02   -48  TmarTn  3204601  530037
 472  2016-08-03   -21  TmarTn  3204553  299418
 473  2016-08-04   352  TmarTn  3204532  370155
 474  2016-08-05    72  TmarTn  3204884  322243
 475  2016-08-06   166  TmarTn  3204956  177696

 [62 rows x 5 columns],
            Date   Subs      Name    Total    Views
 424  2016-06-16  21889  RiceLive  2230282  2427626
 425  2016-06-17  17333  RiceLive  2252171        0
 426  2016-06-18  20932  RiceLive  2269504        0
 427  2016-06-19  18926  RiceLive  2290436        0
 428  2016-06-20  18614  RiceLive  2309362  5667258
 ..          ...    ...       ...      ...      ...
 481  2016-08-12  23001  RiceLive  3619387  2692837
 482  2016-08-13  27424  RiceLive  3642388  3534877
 483  2016-08-14  21807  RiceLive  3669812  1865710
 484  2016-08-15  23197  RiceLive  3691619        0
 485  2016-08-16  29395  RiceLive  3714816  3127767

 [62 rows x 5 columns],
            Date  Subs         Name    Total   Views
 50   2016-07-17  1061  FunForLouis  1819581  178952
 51   2016-07-18  1065  FunForLouis  1820642       0
 52   2016-07-19   542  FunForLouis  1821707  465456
 53   2016-07-20   334  FunForLouis  1822249  163123
 54   2016-07-21   297  FunForLouis  1822583  221737
 ..          ...   ...          ...      ...     ...
 108  2016-09-13  -370  FunForLouis  1868478   89127
 109  2016-09-14  -137  FunForLouis  1868108  114656
 110  2016-09-15   -69  FunForLouis  1867971       0
 111  2016-09-16  -202  FunForLouis  1867902  214786
 112  2016-09-17   -75  FunForLouis  1867700  109988

 [63 rows x 5 columns],
            Date   Subs         Name    Total     Views
 748  2017-02-19   2190  JonTronShow  3088808    265667
 749  2017-02-20   1828  JonTronShow  3090998    276660
 750  2017-02-21   1792  JonTronShow  3092826    275483
 751  2017-02-22   2061  JonTronShow  3094618    241412
 752  2017-02-23   2246  JonTronShow  3096679    231906
 753  2017-02-24   5138  JonTronShow  3098925    236358
 754  2017-02-25   2877  JonTronShow  3104063   1148659
 755  2017-02-26   2287  JonTronShow  3106940         0
 756  2017-02-27   1971  JonTronShow  3109227   1568863
 757  2017-02-28   1703  JonTronShow  3111198    365238
 758  2017-03-01   1713  JonTronShow  3112901    335584
 759  2017-03-02   1304  JonTronShow  3114614    303156
 760  2017-03-03   1469  JonTronShow  3115918    527299
 761  2017-03-04   1624  JonTronShow  3117387         0
 762  2017-03-05   1317  JonTronShow  3119011    291992
 763  2017-03-06   1225  JonTronShow  3120328    293601
 764  2017-03-07    854  JonTronShow  3121553    243960
 765  2017-03-08   1177  JonTronShow  3122407    227576
 766  2017-03-09   1177  JonTronShow  3123584    222229
 767  2017-03-10   1280  JonTronShow  3124761    212864
 768  2017-03-11   1275  JonTronShow  3126041    227602
 769  2017-03-12  -5019  JonTronShow  3127316    248853
 770  2017-03-13  -4751  JonTronShow  3122297    261759
 771  2017-03-14   -482  JonTronShow  3117546    277131
 772  2017-03-15    532  JonTronShow  3117064    284919
 773  2017-03-16    222  JonTronShow  3117596    284088
 774  2017-03-17    193  JonTronShow  3117818    265530
 775  2017-03-18   2658  JonTronShow  3118011  -2459010
 776  2017-03-19   1881  JonTronShow  3120669    267406
 777  2017-03-20   1018  JonTronShow  3122550    275060
 778  2017-03-21   1043  JonTronShow  3123568    250361
 779  2017-03-22    469  JonTronShow  3124611    242391
 780  2017-03-23   5344  JonTronShow  3125080    234856
 781  2017-03-24   4105  JonTronShow  3130424    528034
 782  2017-03-25   1778  JonTronShow  3134529    305702
 783  2017-03-26   1697  JonTronShow  3136307    288089
 784  2017-03-27   1917  JonTronShow  3138004         0
 785  2017-03-28   1225  JonTronShow  3139921    237096
 786  2017-03-29    907  JonTronShow  3141146    226107
 787  2017-03-30    913  JonTronShow  3142053    223053
 788  2017-03-31   1284  JonTronShow  3142966    215861
 789  2017-04-01   1137  JonTronShow  3144250    220483
 790  2017-04-02   1041  JonTronShow  3145387    236545
 791  2017-04-03    897  JonTronShow  3146428    239512
 792  2017-04-04   1007  JonTronShow  3147325    413027
 793  2017-04-05    829  JonTronShow  3148332         0
 794  2017-04-06    901  JonTronShow  3149161    200030
 795  2017-04-07   1046  JonTronShow  3150062    190438
 796  2017-04-08   1033  JonTronShow  3151108    422023
 797  2017-04-09    857  JonTronShow  3152141         0
 798  2017-04-10    914  JonTronShow  3152998    231571
 799  2017-04-11    930  JonTronShow  3153912    207516
 800  2017-04-12   1002  JonTronShow  3154842    198989
 801  2017-04-13    985  JonTronShow  3155844    202400
 802  2017-04-14   1055  JonTronShow  3156829    421500
 803  2017-04-15   1001  JonTronShow  3157884    219941
 804  2017-04-16    951  JonTronShow  3158885         0
 805  2017-04-17    936  JonTronShow  3159836    224528
 806  2017-04-18    776  JonTronShow  3160772    219138
 807  2017-04-19    880  JonTronShow  3161548    190959,
            Date  Subs             Name    Total    Views
 779  2017-03-03  5485  H3H3Productions  3576504  2808390
 780  2017-03-04  6073  H3H3Productions  3581989        0
 781  2017-03-05  5055  H3H3Productions  3588062  1902956
 782  2017-03-06  4539  H3H3Productions  3593117  2734532
 783  2017-03-07  4255  H3H3Productions  3597656   773984
 ..          ...   ...              ...      ...      ...
 836  2017-04-29  1714  H3H3Productions  3817384  2317482
 837  2017-04-30  2614  H3H3Productions  3819098  1935744
 838  2017-05-01  3454  H3H3Productions  3821712        0
 839  2017-05-02  3146  H3H3Productions  3825166  1320899
 840  2017-05-03  2987  H3H3Productions  3828312   854229

 [62 rows x 5 columns],
            Date  Subs        Name   Total   Views
 266  2017-03-22  1325  DaddyoFive  720600  479686
 267  2017-03-23  1276  DaddyoFive  721925  517849
 268  2017-03-24  1984  DaddyoFive  723201  972992
 269  2017-03-25  1831  DaddyoFive  725185  509261
 270  2017-03-26  1135  DaddyoFive  727016  556150
 ..          ...   ...         ...     ...     ...
 323  2017-05-18  -679  DaddyoFive  758230   19722
 324  2017-05-19  -513  DaddyoFive  757551   21392
 325  2017-05-20  -669  DaddyoFive  757038   16265
 326  2017-05-21  -433  DaddyoFive  756369   38453
 327  2017-05-22  -426  DaddyoFive  755936       0

 [62 rows x 5 columns],
            Date   Subs       Name    Total     Views
 575  2017-05-03  22420  Jake Paul  4899443   5615706
 576  2017-05-04  25688  Jake Paul  4921863   5499618
 577  2017-05-05  30924  Jake Paul  4947551   6044260
 578  2017-05-06  32861  Jake Paul  4978475   6492643
 579  2017-05-07  21842  Jake Paul  5011336   7173670
 ..          ...    ...        ...      ...       ...
 632  2017-06-29  63223  Jake Paul  7594043  18067895
 633  2017-06-30  55083  Jake Paul  7657266  14043678
 634  2017-07-01  48830  Jake Paul  7712349  17310452
 635  2017-07-02  41998  Jake Paul  7761179  14344989
 636  2017-07-03  45419  Jake Paul  7803177  13522063

 [62 rows x 5 columns],
            Date Subs          Name   Total   Views
 349  2017-05-29  405  Blaire White  309609   40287
 350  2017-05-30  356  Blaire White  310014   41472
 351  2017-05-31  431  Blaire White  310370   38009
 352  2017-06-01  285  Blaire White  310801  128521
 353  2017-06-02  245  Blaire White  311086   98519
 ..          ...  ...           ...     ...     ...
 406  2017-07-25  363  Blaire White  334232   63299
 407  2017-07-26  349  Blaire White  334595   62985
 408  2017-07-27  398  Blaire White  334944   51410
 409  2017-07-28  300  Blaire White  335342   47742
 410  2017-07-29  286  Blaire White  335642   47311

 [62 rows x 5 columns],
            Date  Subs          Name   Total     Views
 415  2017-06-30   359  Simply_Kenna  870562     -5658
 416  2017-07-01   449  Simply_Kenna  870921     28615
 417  2017-07-02   556  Simply_Kenna  871370  -1199396
 418  2017-07-03   509  Simply_Kenna  871926   -184254
 419  2017-07-04   292  Simply_Kenna  872435     29522
 ..          ...   ...           ...     ...       ...
 472  2017-08-26    28  Simply_Kenna  845959     68519
 473  2017-08-27    36  Simply_Kenna  845987     60690
 474  2017-08-28   258  Simply_Kenna  846023     43847
 475  2017-08-29  -278  Simply_Kenna  846281     30167
 476  2017-08-30   365  Simply_Kenna  846003     29127

 [62 rows x 5 columns],
            Date   Subs       Name     Total     Views
 589  2017-08-12  14609  PewDiePie  56859584  17256615
 590  2017-08-13  17372  PewDiePie  56874193         0
 591  2017-08-14  12593  PewDiePie  56891565   8409469
 592  2017-08-15  10949  PewDiePie  56904158   7079401
 593  2017-08-16  22869  PewDiePie  56915107  -1415650
 ..          ...    ...        ...       ...       ...
 646  2017-10-08  12314  PewDiePie  57455635   7827402
 647  2017-10-09   9508  PewDiePie  57467949   7797137
 648  2017-10-10   8991  PewDiePie  57477457   4857737
 649  2017-10-11  10432  PewDiePie  57486448   5166346
 650  2017-10-12  11080  PewDiePie  57496880   6217153

 [62 rows x 5 columns],
            Date  Subs           Name   Total   Views
 400  2017-10-05   447  Social Repose  954728  124232
 401  2017-10-06   583  Social Repose  955175  157559
 402  2017-10-07   562  Social Repose  955758  192086
 403  2017-10-08   287  Social Repose  956320  185476
 404  2017-10-09   315  Social Repose  956607  163599
 ..          ...   ...            ...     ...     ...
 457  2017-12-01   136  Social Repose  918973  122480
 458  2017-12-02  -289  Social Repose  919109  104520
 459  2017-12-03  -399  Social Repose  918820  115661
 460  2017-12-04  -196  Social Repose  918421  105614
 461  2017-12-05  -118  Social Repose  918225  115460

 [62 rows x 5 columns],
            Date  Subs      Name     Total    Views
 607  2017-10-14   759  Zoe Sugg  12037977   209303
 608  2017-10-15  1242  Zoe Sugg  12038736   280613
 609  2017-10-16  1440  Zoe Sugg  12039978  1008556
 610  2017-10-17  1277  Zoe Sugg  12041418   516854
 611  2017-10-18  1079  Zoe Sugg  12042695   321096
 ..          ...   ...       ...       ...      ...
 664  2017-12-10   542  Zoe Sugg  12087378   341562
 665  2017-12-11   998  Zoe Sugg  12087920   296883
 666  2017-12-12  1184  Zoe Sugg  12088918   239473
 667  2017-12-13   832  Zoe Sugg  12090102   208105
 668  2017-12-14   610  Zoe Sugg  12090934   196626

 [62 rows x 5 columns],
            Date  Subs           Name     Total    Views
 519  2017-10-17  2143  Jenna Marbles  17640085   848726
 520  2017-10-18  5014  Jenna Marbles  17642228   732160
 521  2017-10-19  5313  Jenna Marbles  17647242   693795
 522  2017-10-20  3135  Jenna Marbles  17652555  3005142
 523  2017-10-21  2654  Jenna Marbles  17655690  1509071
 ..          ...   ...            ...       ...      ...
 576  2017-12-13  1441  Jenna Marbles  17742366  1506413
 577  2017-12-14  1039  Jenna Marbles  17743807   815624
 578  2017-12-15  1535  Jenna Marbles  17744846   622617
 579  2017-12-16  1293  Jenna Marbles  17746381   577526
 580  2017-12-17  1509  Jenna Marbles  17747674   552455

 [62 rows x 5 columns],
            Date Subs       Name    Total  Views
 481  2017-10-28    9  Shay Carl  1615752  29096
 482  2017-10-29   13  Shay Carl  1615761  43513
 483  2017-10-30    6  Shay Carl  1615774  53255
 484  2017-10-31   30  Shay Carl  1615780  49650
 485  2017-11-01    8  Shay Carl  1615810  42097
 ..          ...  ...        ...      ...    ...
 538  2017-12-24  219  Shay Carl  1648894  49626
 539  2017-12-25  317  Shay Carl  1649113  52494
 540  2017-12-26  233  Shay Carl  1649430  58536
 541  2017-12-27  238  Shay Carl  1649663  55236
 542  2017-12-28  154  Shay Carl  1649901  54390

 [62 rows x 5 columns],
            Date   Subs        Name     Total     Views
 445  2017-12-02  30377  Logan Paul  14096113  10514378
 446  2017-12-03  26320  Logan Paul  14126490   8419890
 447  2017-12-04  17542  Logan Paul  14152810   7192318
 448  2017-12-05  29670  Logan Paul  14170352   9115871
 449  2017-12-06  31689  Logan Paul  14200022   8299272
 ..          ...    ...         ...       ...       ...
 503  2018-01-29  12655  Logan Paul  16358362   2713534
 504  2018-01-30  11088  Logan Paul  16371017   3085157
 505  2018-01-31  13234  Logan Paul  16382105   2950158
 506  2018-02-01  12214  Logan Paul  16395339   2513912
 507  2018-02-02  16975  Logan Paul  16407553   4849741

 [63 rows x 5 columns],
            Date   Subs               Name    Total   Views
 722  2018-05-18    -61  Alfie Deyes Vlogs  4096301  463849
 723  2018-05-19    -78  Alfie Deyes Vlogs  4096240  638620
 724  2018-05-20     80  Alfie Deyes Vlogs  4096162  313071
 725  2018-05-21    118  Alfie Deyes Vlogs  4096242  427721
 726  2018-05-22    118  Alfie Deyes Vlogs  4096360  296550
 ..          ...    ...                ...      ...     ...
 779  2018-07-14   -599  Alfie Deyes Vlogs  4080528  321670
 780  2018-07-15   -798  Alfie Deyes Vlogs  4079929  376268
 781  2018-07-16   -410  Alfie Deyes Vlogs  4079131  286293
 782  2018-07-17   -780  Alfie Deyes Vlogs  4078721  151827
 783  2018-07-18  -1394  Alfie Deyes Vlogs  4077941  193084

 [62 rows x 5 columns],
            Date  Subs          Name    Total   Views
 765  2018-06-30  3949  Tana Mongeau  3592463  427445
 766  2018-07-01  6636  Tana Mongeau  3596412  561032
 767  2018-07-02  7037  Tana Mongeau  3603048  543023
 768  2018-07-03  4590  Tana Mongeau  3610085  445070
 769  2018-07-04  4213  Tana Mongeau  3614675  432084
 ..          ...   ...           ...      ...     ...
 822  2018-08-26  1845  Tana Mongeau  3733269  236805
 823  2018-08-27  1580  Tana Mongeau  3735114  195837
 824  2018-08-28  1323  Tana Mongeau  3736694  193044
 825  2018-08-29  1480  Tana Mongeau  3738017  211687
 826  2018-08-30   940  Tana Mongeau  3739497  242808

 [62 rows x 5 columns],
            Date  Subs         Name    Total   Views
 740  2018-07-16   682  Olivia Jade  1578063  113187
 741  2018-07-17  1384  Olivia Jade  1578745  409433
 742  2018-07-18  1369  Olivia Jade  1580129  182931
 743  2018-07-19  1031  Olivia Jade  1581498  216316
 744  2018-07-20   865  Olivia Jade  1582529  249241
 ..          ...   ...          ...      ...     ...
 798  2018-09-12   980  Olivia Jade  1684644  124007
 799  2018-09-13   815  Olivia Jade  1685624  112224
 800  2018-09-14  1098  Olivia Jade  1686439  366480
 801  2018-09-15  1456  Olivia Jade  1687537  180695
 802  2018-09-16   979  Olivia Jade  1688993  135144

 [63 rows x 5 columns],
            Date  Subs            Name    Total   Views
 781  2018-07-16   534  banana peppers  8842943   89226
 782  2018-07-17  -644  banana peppers  8843477  265273
 783  2018-07-18   616  banana peppers  8842833  338943
 784  2018-07-19  1201  banana peppers  8843449  279373
 785  2018-07-20   486  banana peppers  8844650  176778
 ..          ...   ...             ...      ...     ...
 839  2018-09-12   306  banana peppers  8857536  302549
 840  2018-09-13   586  banana peppers  8857842  217054
 841  2018-09-14   -17  banana peppers  8858428  168285
 842  2018-09-15  -131  banana peppers  8858411  157486
 843  2018-09-16  -179  banana peppers  8858280  143467

 [63 rows x 5 columns],
            Date  Subs       Name    Total   Views
 752  2018-07-19  3932  Laura Lee  4942240  745986
 753  2018-07-20  3658  Laura Lee  4946172  405441
 754  2018-07-21  3717  Laura Lee  4949830  534679
 755  2018-07-22  4201  Laura Lee  4953547  700637
 756  2018-07-23  4143  Laura Lee  4957748  449117
 ..          ...   ...        ...      ...     ...
 810  2018-09-15  -261  Laura Lee  4455883  145820
 811  2018-09-16  -121  Laura Lee  4455622  116250

In [678]:
# Exports Social Blade data into a CSV file
pd.concat(sub_month_change_dfs).to_csv('social_blade_combined.csv', index=False)